<?php if (Mage::getStoreConfigFlag('ajaxscroll/general/enabled')): ?>
<?php
	$urlImg = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).'glace/ajaxscroll/'.Mage::getStoreConfig('ajaxscroll/general/topb_icon');	
	$loading_bar = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).'glace/ajaxscroll/'.Mage::getStoreConfig('ajaxscroll/general/loading_icon');
	$loading_img = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).'glace/ajaxscroll/'.Mage::getStoreConfig('ajaxscroll/general/loading_img');
?>
<style>
#toTop {

	background:url(<?php echo $urlImg ?>) no-repeat left top;
}

#toTopHover {
	background:url(<?php echo $urlImg ?>) no-repeat left -51px;
}
</style>
<?php 
// Get the default setting for grid or list mode
$productListMode = Mage::getStoreConfig('catalog/frontend/list_mode');
$grid_per_page = Mage::getStoreConfig('catalog/frontend/grid_per_page');
$list_per_page = Mage::getStoreConfig('catalog/frontend/list_per_page');
if ($productListMode == 'grid-list'){
	$productListMode = 'grid';
	$per_page = $grid_per_page;
}elseif($productListMode == 'list-grid'){
	$productListMode = 'list';
	$per_page = $list_per_page;
}	
// Check if this setting is overwritten by the user
if ($this->getRequest()->getParam('mode')) {
	if($this->getRequest()->getParam('mode') == 'grid'){
		$productListMode = 'grid';
		$per_page = $grid_per_page;
	}else{
		$productListMode = 'list';
		$per_page = $list_per_page;
	}
}
?>
<?php if (Mage::getStoreConfig('ajaxscroll/general/enabled_top')){ ?>
<script type="text/javascript">
jQuery.noConflict();
jQuery(document).ready(function() {
	jQuery().UItoTop({ easingType: 'easeOutQuart' });
	
});
</script>
<?php }?>
<script type="text/javascript">
var img='<img style="padding: 51px;" class="scroll_loading" src="<?php echo $loading_img; ?>" />';
var ft = '0';
jQuery(document).ready(function() {
	jQuery.ajaxscroll({
		container : '.category-products',
		<?php if ($productListMode == 'grid'): ?>
		item: '.products-grid',
		<?php else: ?>
		item: '.products-list',
		<?php endif; ?>
		pagination: '.toolbar .pager',
		next: '.next',
		loader: '<img style="padding: 10px;" width="220" height="20" class="scroll_loading" src="<?php echo $loading_bar; ?>" />'
	});
});
</script>
<?php endif; ?>

