/*left top*/
.block-layered-nav{
    .category-title{
        background: none;
        border-bottom: medium none;
        font-weight: bold;
        margin-bottom: 0;
        text-align: left;
        h1{
            font-weight: bold;
            padding-bottom: 5px;
        }
    }
    .category-title.active{
        margin-bottom: 10px;
        border-bottom: 1px solid #ececec;
    }

    .m-filter-group{
        display:none;
    }

    .m_left_category_filter{
        border-top:none;
    }   

    dd {
        padding-left:1px;
    }

    dd li:before {
    content:none;
    } 
}

/*pages*/
.toolbar{
    .pager{
        margin-top: 0;
        padding-bottom: 6px;
        .pages{
            float: right;
            margin-left: 10px;
            margin-right: 0;
        }

        .amount{
            display:none;
        }
    }

    .sorter{
        display:none;
/*        float: right;
        margin-right: 300px;
        margin-top: -44px;*/
    }
}

/*price slider*/
#left_price-span,
.m-filter-slider > .m-slider-span {
    border-bottom: 2px solid #666;
    /*height: 9px;*/
    margin-top:8px;
    margin-left: -9px;
}

#left_price-track #left_price-to ,#left_price-track #left_price-from,
.m-filter-slider > .m-slider-from, .m-filter-slider > .m-slider-to {
    /*background: url("../images/manapro_filterslider/slider.png") no-repeat scroll 0 0 transparent;*/
    height: 17px;
    width: 17px;
    /*margin-top:3px;*/
}

#left_price-track #left_price-to ,
.m-filter-slider > .m-slider-to {
    background: url("../images/manapro_filterslider/slider.png") no-repeat scroll -19px 0 transparent !important;
}

#left_price-track #left_price-from,
.m-filter-slider > .m-slider-from {
    background: url("../images/manapro_filterslider/slider.png") no-repeat scroll 0 0 transparent !important;
}

.m-filter-slider,
.m-filter-slider {
    background: url("../images/manapro_filterslider/bkg_slider.png") repeat-x scroll 0 0 transparent !important;
    border: medium none;
}    

/*product image*/
@bg-color:#fff;
.products-grid{
    .product-image {
        background: none repeat scroll 0 0 @bg-color;
        border: 1px solid @bg-color;
        height: 455px;
        width: 320px;
    }

    li.item {
        margin-right: -5px;
        padding-left: 15px;
        padding-right: 5px;
    }

    .item:hover .product-image .product-image-small{
        margin-left: auto;
        margin-right: auto;
    }

    > li:hover .add-to-links {
        left: 55px;
        top: -460px;
    }
} 

.tc{
    text-align: center;
}
/*product detail page*/
.col1-layout .product-view {
    .product-name h1 {
        font-size: 32px;
        line-height: 32px;
        padding-top: 2.5em;
    }

    .product-shop {
        float: right;
        width: 33%;
        margin-top:25px;
        .product-options{
            text-align: center;
        }
        /*size options*/
        .swatchContainer {
            display: inline-block;
            margin-left: auto;
            margin-right: auto;
        }

        .add-to-cart{
            width: 100%;
            button.button {
                float: none;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
    .product-img-box {
        text-align: center;
        width: 64%;
    }

    .add-to-links {
        border-bottom:none;
        border-top:none;
    }

    .price-box{
        .tc;
    }

    .add-to-links li .link-wishlist{
        margin-left: auto;
        margin-right: auto;
    }
    .link-wishlist:hover {
        transform: scale(1.1);
    }
    .product-options-bottom .add-to-links{
        display: none;
    }

    .product-options{
        border-top:none;
    }
}

/*zoom image*/
#preview .flex-next {
    right: 5px !important;
}

