/*
TABLE OF CONTENTS
01 MENU BAR
02 DROP DOWN MENU
03 CONTENT STYLING
04 CONTACT FORM
05 COLORS
*/
/*---------------------------01 MENU BAR------------------------------*/
.sambar{
	position: relative;
}
.sambar a:focus{
	outline: none;
}
.sambar ul li{
    background: none;
    margin: 0;
    padding:0;
    position: relative;
}

.sambar .sambar-inner:before,
.sambar .sambar-inner:after {
	display: table;
	content: '';
	line-height: 0;
}
.sambar .sambar-inner:after {
	clear: both;
}
.sm_megamenu_wrapper_horizontal_menu {
	
}
.sm_megamenu_wrapper_horizontal_menu .nav-menu li > a{
	padding:15px 0 10px;
	display: block;
	/* color:#666666; */
}
.sm_megamenu_menu li:first-child .sm_megamenu_title{}
.sm_megamenu_wrapper_horizontal_menu .sambar-inner {
	list-style:none;
	width:100%;	
	box-shadow:5px 5px 5px #666666;
	padding:0;
}
.sm_megamenu_wrapper_menu_full {
    width: 100%;
    margin:0;
    display:block;
    position: relative;
    z-index:9999;
}
.sm_megamenu_wrapper_menu_full .sm_megamenu_menu {
	list-style:none;
	width:940px;
	margin:0px auto 0px auto;
	height:43px;
	padding:0px 20px 0px 20px;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li {
	float:left;
	text-align:center;
	position: static;
	padding:0 0px;
	border:none;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu > li{

}
/*
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu > li.sm_megamenu_actived:after{
	width: 100%; position: absolute; bottom: -1px; left: 0; height: 1px; content: "";
	background: #80B601;
}*/
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu > li > div{	
	background: #fff;
}

.sm_megamenu_wrapper_horizontal_menu .block-topcontent{
	padding: 12px 0 20px;
}
.sm_megamenu_wrapper_horizontal_menu .menu-lr,
.sm_megamenu_wrapper_horizontal_menu .explore
{
	padding: 20px 0 30px;
	border-bottom:1px solid #ebebeb;
	border-right:1px solid #ebebeb;
	border-left:1px solid #ebebeb;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}

.sm_megamenu_wrapper_horizontal_menu .menu-lr .sm_megamenu_col_1.block-cate1,
.sm_megamenu_wrapper_horizontal_menu .menu-lr .sm_megamenu_col_1.block-cate2{ 
	width: 10.5%;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_col_1.explore{
	width: 100%; padding-left: 10%;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_drop > .sm_megamenu_dropdown_1column{
	left: 98px !important;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_col_1.cate-explore{
	width: 86%;
}
.g-product{ margin-top: 10px !important;}
.sm_megamenu_wrapper_horizontal_menu .menu-lr .block-cate1 ul,
.sm_megamenu_wrapper_horizontal_menu .menu-lr .block-cate2 ul{ 
	max-width: 100%;
	padding-bottom: 0;
}
.sm_megamenu_wrapper_horizontal_menu .menu-lr .block-cate1 ul li.last,
.sm_megamenu_wrapper_horizontal_menu .menu-lr .block-cate2 ul li.last{ 
	border: none;
}
.sm_megamenu_wrapper_horizontal_menu .menu-lr .block-cate1{
	margin-left: 5px;
}
.sm_megamenu_wrapper_horizontal_menu .menu-lr .block-cate2{
	margin-left: 6%;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_col_2.block-re-pro{ width: 25%; margin-left: 6%;}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_col_2.block-bestsales{ 
	width: 23%; margin-left: 6%;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_col_2.block-bestsales .block-bestseller{
	margin-top: 15px;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .menu-kit{ 
	border-bottom:1px solid #ebebeb;
	border-right:1px solid #ebebeb;
	border-left:1px solid #ebebeb;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .menu-br{ 
	padding: 15px 0 20px;
	border-bottom:1px solid #ebebeb;
	border-right:1px solid #ebebeb;
	border-left:1px solid #ebebeb;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .menu-br .block-cus-text{
	width: 31%; margin-left: 5%;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .menu-br .br-n-p{
	width: 39%; margin-left: 5%;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .menu-br .block-br-cate{
	width: 12%; margin-left: 12px;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .menu-br .block-br-cate ul{
	max-width: 100%;
}

.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .product-types,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .menu-wedding,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .menu-valentine{
	padding: 25px 10px 20px 10px!important;
	border-bottom:1px solid #ebebeb;
	border-right:1px solid #ebebeb;
	border-left:1px solid #ebebeb;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .menu-home{
	padding-top:15px!important;
	padding-left:5px!important;
	padding-bottom:15px!important;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .menu-valentine .sm_megamenu_col_1{
	padding:0px!important;
}

.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .menu-valentine .price-valentine{
	padding-left:15px!important;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .menu-valentine{
	padding: 15px 10px;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .menu-home .block-video{
	width: 42%;
	float:Right;
}
.w_video .block_video{ margin-top: 15px;}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .menu-home .block-about-us{
	width: 57.5%;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu > li > div:before{
   /* background: none repeat scroll 0 0 #80B601;
    border-left: 1px solid #80B601;
    border-right: 1px solid #80B601;    
    content: "";
    display: block;
    height: 7px;
    left: 0;
    position: absolute;
    top: -1px;
    width: 100%;*/
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li.fullwidth {
	position: static !important;
}

.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_drop li a.sm_megamenu_actived:after{
	background: url("img/icon-arrow.png")  no-repeat 0 top !important;
	content: "";
	display: inline-block;
	height: 6px;
	width: 9px;
	vertical-align: 1px;
	margin-left: 2px;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li:hover,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li.open {	
	border-bottom:none;
}

.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li.sm_megamenu_nodrop:hover a {

}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li a.sm_megamenu_head {
	-ms-transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s; 
	-webkit-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	-ms-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}

/*---mod container-slider ---*/
.w-cate-kitchen{ margin: 20px 0 0 5%; width: 12% !important;}
.w-cate-kitchen ul{ max-width: 100%;}
.sm_megamenu_col_5.sm_megamenu_id146.block-topcontent{
	width: 76% !important; margin: 15px 0 40px 2.1%;
}
.sm_megamenu_wrapper_horizontal_menu .w-topcontent {
	width: 83% !important;
	margin: 0 auto;
}
.sm_megamenu_wrapper_horizontal_menu .w-topcontent .sm-block-content{ margin-top: 15px;}

.sm_megamenu_wrapper_horizontal_menu .w-topcontent .item-inner .actions ul.add-to-links{
	position: static !important; width: auto; border: none;
}
.sm_megamenu_wrapper_horizontal_menu .w-topcontent .item-inner .actions ul:before{ height: 0 !important;}
.sm_megamenu_wrapper_horizontal_menu .w-new > .sm-block-content{
	margin-top: 20px;
}
.sm_megamenu_wrapper_horizontal_menu .w-new .block-newproduct .ratings{
	
}
.sm_megamenu_wrapper_horizontal_menu .w-new .block-newproduct .price-box{
	margin: 3px 0;
}
.sm_megamenu_wrapper_horizontal_menu .w-new .block-newproduct .item-box .actions,
.sm_megamenu_wrapper_horizontal_menu .w-topcontent .actions
{
	/*position: absolute; top: 0; left: 0; 
	background: rgba(255,255,255,0.5);
	opacity: 0;
	width: 100%; height: 100%;  
	transition:all 0.3s ease-in-out 0s;	*/
}

.sm_megamenu_wrapper_horizontal_menu .w-topcontent .page-button.top{display: block;margin: 0px;}

.sm_megamenu_wrapper_horizontal_menu .w-topcontent .container-slider .page-button.top .control-button{
	position: static; display: block; width: 100%; border:none; padding: 0px;  margin: 0px;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .container-slider .page-button .control-button li.preview{
	position: absolute; top: 30%;
	width: 38px; height: 38px; margin: -20px 0 0 0;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;/*  border: 1px solid #e9e9e9; */
	background:#dadada url('img/prev.png') no-repeat center center!important;
	transition:.5s;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .container-slider .page-button .control-button li.next{
	position: absolute; top: 30%;
	width: 38px; height: 38px; margin: -20px 0 0 0;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%; /* border: 1px solid #e9e9e9; */
	background:#dadada url('img/next.png') no-repeat center center!important;
	transition:.5s;
}
.sm_megamenu_wrapper_horizontal_menu .container-slider .page-button .control-button li.preview{	
	left: -56px;
	background-position: 0 3px;
}
.sm_megamenu_wrapper_horizontal_menu .container-slider .page-button .control-button li.preview:hover{
	background-position: 0 -29px;	
	background-color: #80b601;
	border-color: #80B601;
}
.sm_megamenu_wrapper_horizontal_menu .container-slider .page-button .control-button li.next{
	background-position: 2px -62px;
	right: -56px;
}
.sm_megamenu_wrapper_horizontal_menu .container-slider .page-button .control-button li.next:hover{
	background-position: 2px -93px;
	background-color: #80b601;
	border-color: #80B601;
}

.sm_megamenu_wrapper_horizontal_menu .w-topcontent h2,
.sm_megamenu_wrapper_horizontal_menu .w-topcontent p.pcontent
{ 
	padding:0 10px;
}
.sm_megamenu_wrapper_horizontal_menu .w-topcontent .item-img-info{
	border: 1px solid #e9e9e9; position: relative; overflow:hidden;
} 
.sm_megamenu_wrapper_horizontal_menu .w-topcontent .item-img-info:hover .actions,
.sm_megamenu_wrapper_horizontal_menu .w-new .block-newproduct ul.products li div.product-image:hover .actions{ opacity: 100;}

.sm_megamenu_wrapper_horizontal_menu .w-topcontent .item-img-info a{
	display: block;
}
.sm_megamenu_wrapper_horizontal_menu .w-topcontent .item-inner{
	/*border: 1px solid #e9e9e9;*/
	margin-top:2px; padding: 8px 8px 3px;
} 
.sm_megamenu_wrapper_horizontal_menu .w-topcontent .item-inner .item-title a{
	font-size: 133%;
    font-family: 'Oswald',sans-serif;
	/* color: #666666; */
	
}

.sm_megamenu_wrapper_horizontal_menu .w-topcontent .item-des{
	display: none;
}
.sm_megamenu_wrapper_horizontal_menu .w-topcontent .item-title{ margin-bottom: 8px;text-align:center;}
.sm_megamenu_wrapper_horizontal_menu .w-topcontent .ratings{ 
	position: relative; margin: 0 0 1px !important; line-height: 20px !important;
}
.sm_megamenu_wrapper_horizontal_menu .w-topcontent .no-rating a{
	display: inline-block; margin-top: 3px; margin-bottom: 2px;
}
.sm_megamenu_wrapper_horizontal_menu .w-topcontent .item-review{ 
	line-height: 16px;
	margin-top: 1px;
	margin-bottom:0px;
}
.sm_megamenu_wrapper_horizontal_menu .w-topcontent .rating-links{
	/*font-size:12px; position: absolute; left: 80px; margin: 0; top: 0;*/
	display:none;
}
.sm_megamenu_wrapper_horizontal_menu .w-topcontent .no-rating a{
	font-size:100%; color: #909090;
}
.sm_megamenu_wrapper_horizontal_menu .w-topcontent .item-price{ /*line-height: 30px;*/}
.sm_megamenu_wrapper_horizontal_menu .w-topcontent .price,
.sm_megamenu_wrapper_horizontal_menu .w-topcontent .special-price .special-price
{
	 /* color: #686868; */ font-weight: 500!important; font-family:'Oswald',sans-serif;
}
.sm_megamenu_wrapper_horizontal_menu .w-topcontent .special-price span,
.sm_megamenu_wrapper_horizontal_menu .w-topcontent .regular-price{
	font-size:150%;
}
.sm_megamenu_wrapper_horizontal_menu .w-topcontent .old-price span{
	/* font-size: 116.66%; text-decoration: line-through; font-weight: bold;
	color: #686868; display: none; */
	font-size:150%;
}

.sm_megamenu_wrapper_horizontal_menu .w-topcontent .item-read{ display: none;}
.sm_megamenu_wrapper_horizontal_menu .w-topcontent .item-content{
	margin-top: 4px !important;
}
.sm_megamenu_wrapper_horizontal_menu .w-topcontent .rating-box{ margin-top: 3px}


.sm_megamenu_wrapper_horizontal_menu .w-new .block-newproduct ul.add-to-links,
.sm_megamenu_wrapper_horizontal_menu .w-topcontent ul.add-to-links
{
	position: absolute; left: 0px; top:86px;
	border: none;
	overflow: hidden;
	width: 100%;
	text-align: center;
}
.sm_megamenu_wrapper_horizontal_menu .w-new .block-newproduct ul.add-to-links li,
.sm_megamenu_wrapper_horizontal_menu .w-topcontent ul.add-to-links li
{
	display: inline-block; margin: 0px; width: auto; float: none;
}

.sm_megamenu_wrapper_horizontal_menu .w-new .block-newproduct ul.add-to-links li a,
.sm_megamenu_wrapper_horizontal_menu .w-topcontent ul.add-to-links li a
{
	display: block;
	text-indent: -999em;
	background: #777;
	line-height: 32px;
	width: 40px;
}
.sm_megamenu_wrapper_horizontal_menu .w-new .block-newproduct ul.add-to-links li a.btn-cart,
.sm_megamenu_wrapper_horizontal_menu .w-topcontent ul.add-to-links li a.btn-cart
{
	background: url('img/icon-a-w-c.png') #777 no-repeat 8px 9px;
	width: 40px;
}

.sm_megamenu_wrapper_horizontal_menu .w-new .block-newproduct ul.add-to-links li a.link-wishlist,
.sm_megamenu_wrapper_horizontal_menu .w-topcontent ul.add-to-links li a.link-wishlist
{
	background: url('img/icon-a-w-c.png') #777 no-repeat 8px -66px;
	width: 40px;
}
.sm_megamenu_wrapper_horizontal_menu .w-new .block-newproduct ul.add-to-links li a.link-compare,
.sm_megamenu_wrapper_horizontal_menu .w-topcontent ul.add-to-links li a.link-compare
{
	background: url('img/icon-a-w-c.png') #777 no-repeat 8px -29px;
	width: 40px;
}

.sm_megamenu_wrapper_horizontal_menu .w-topcontent .item-img-info ul.add-to-links li.addtocart,
.sm_megamenu_wrapper_horizontal_menu .w-new .block-newproduct .product-image ul.add-to-links li.addtocart{
	position: absolute;
	left: -100%;
	top: 0px;
	transition:all 0.3s ease-in-out 0s;
}

.sm_megamenu_wrapper_horizontal_menu .w-topcontent .item-img-info:hover ul.add-to-links li.addtocart,
.sm_megamenu_wrapper_horizontal_menu .w-new .block-newproduct .product-image:hover ul.add-to-links li.addtocart{
	left: 20.5%;
}
.sm_megamenu_wrapper_horizontal_menu .w-topcontent .item-img-info ul.add-to-links li.compare,
.sm_megamenu_wrapper_horizontal_menu .w-new .block-newproduct .product-image ul.add-to-links li.compare{
	position: absolute;
	right: -100%;
	top: 0px;
	transition:all 0.3s ease-in-out 0s;
}

.sm_megamenu_wrapper_horizontal_menu .w-topcontent .item-img-info:hover ul.add-to-links li.compare,
.sm_megamenu_wrapper_horizontal_menu .w-new .block-newproduct .product-image:hover ul.add-to-links li.compare{
	right:20.5%;
}


.sm_megamenu_wrapper_horizontal_menu .w-new .block-newproduct .item-box .actions ul,
.sm_megamenu_wrapper_horizontal_menu .w-topcontent .actions ul
{
	background: none; padding: 0;
}
.sm_megamenu_wrapper_horizontal_menu .w-new .block-newproduct .item-box .actions ul:before,
.sm_megamenu_wrapper_horizontal_menu .w-topcontent .actions ul:before
{
	height: 0;
}

/*---block .block-newproduct---*/

.sm_megamenu_wrapper_horizontal_menu .w-new .block-newproduct ul:before{
	height: 0;
}
.sm_megamenu_wrapper_horizontal_menu .w-new .block-newproduct ul.products {   
	position: static !important;
	overflow: hidden;
	border: none;
	width: 47.7%;
	float: left;
	padding: 0;
	margin-right: 20px;
}
.sm_megamenu_wrapper_horizontal_menu .w-new .block-newproduct ul.last{
	margin-right: 0;
}
.sm_megamenu_wrapper_horizontal_menu .w-new .block-newproduct ul.products > li.item{
	float: left;
	width: 100%;
	
}
.sm_megamenu_wrapper_horizontal_menu .w-new .block-newproduct ul.products li.last{ margin-right: 0;}
.sm_megamenu_wrapper_horizontal_menu .w-new .block-newproduct ul.products li .product-name a{
	font-size:150%; color: #686868;
}

.sm_megamenu_wrapper_horizontal_menu .w-new .block-newproduct ul.products li .price,
.sm_megamenu_wrapper_horizontal_menu .w-new .block-newproduct ul.products li .special-price .special-price{
	font-weight: bold;
}

.sm_megamenu_wrapper_horizontal_menu .w-new .product-box .special-price span,
.sm_megamenu_wrapper_horizontal_menu .w-new .product-box .regular-price{
	font-size:141.66%;
}
.sm_megamenu_wrapper_horizontal_menu .w-new .product-box .old-price span{
	font-size: 116.66%; text-decoration: line-through; font-weight: bold;
	color: #686868; display: none;
}


.sm_megamenu_wrapper_horizontal_menu .w-new .block-newproduct ul.products li .ratings{
	position: relative;
}
.sm_megamenu_wrapper_horizontal_menu .w-new .block-newproduct ul.products li .rating-links{
	position: absolute; top: 0; left: 80px;
}
.sm_megamenu_wrapper_horizontal_menu .w-new .block-newproduct ul.products li .rating-links a{
	font-size:100%; color: #909090;
}
.sm_megamenu_wrapper_horizontal_menu .w-new .block-newproduct ul.products li .rating-links a.review-num{
	border: none; padding: 0;
}
.sm_megamenu_wrapper_horizontal_menu .w-new .block-newproduct ul.products li .rating-links a.add-your-review{
	display: none !important;
}
.sm_megamenu_wrapper_horizontal_menu .w-new .block-newproduct ul.products li a.product-image{
	border: 1px solid #e9e9e9;
	display: block;
}
.sm_megamenu_wrapper_horizontal_menu .w-new .block-newproduct ul.products li div.product-image{ position: relative;}

.sm_megamenu_wrapper_horizontal_menu .w-new .block-newproduct ul.add-to-links li span{
	border: none; padding: 0;
	background: none;
}
.sm_megamenu_wrapper_horizontal_menu .w-new .block-newproduct ul.add-to-links li a.btn-cart:hover span{
	background: none;
}
.sm_megamenu_wrapper_horizontal_menu .w-new .block-newproduct .item-box{
	position: relative;
}
.sm_megamenu_wrapper_horizontal_menu .w-new .product-box{
	border: 1px solid #E9E9E9; margin-top: 2px; padding: 8px 8px 4px;
}
.sm_megamenu_wrapper_horizontal_menu .w-new .product-box .product-name{
	line-height: 20px;
}
.sm_megamenu_wrapper_horizontal_menu .w-new .product-box .no-rating{
	
}
.sm_megamenu_wrapper_horizontal_menu .w-new .ratings{ line-height: 21px;}

.sm_megamenu_wrapper_horizontal_menu .w-new span.separator{ display: none;}
.sm_megamenu_wrapper_horizontal_menu .w-new .ayr{ display: none !important; }
.sm_megamenu_wrapper_horizontal_menu .w-custext{ margin-top:15px;}

.sm_megamenu_wrapper_horizontal_menu .r-content .w-img{
	margin-bottom: 15px;
}
.w-custext .w-img{
	margin-top: 15px;
}
.sm_megamenu_wrapper_horizontal_menu .r-content{
	margin-top: 23px;
}
.sm_megamenu_wrapper_horizontal_menu .r-content a{
	overflow: hidden; display: block;
	-webkit-transition:all 0.3s ease-in-out 0s;
	-moz-transition:all 0.3s ease-in-out 0s;
	-o-transition:all 0.3s ease-in-out 0s;
    -ms-transition:all 0.3s ease-in-out 0s;
    transition:all 0.3s ease-in-out 0s;
}
.sm_megamenu_wrapper_horizontal_menu .r-content a img{
	-webkit-transition:all 0.3s ease-in-out 0s;
	-moz-transition:all 0.3s ease-in-out 0s;
	-o-transition:all 0.3s ease-in-out 0s;
    -ms-transition:all 0.3s ease-in-out 0s;
    transition:all 0.3s ease-in-out 0s;
}
.sm_megamenu_wrapper_horizontal_menu .r-content a:hover{
	-moz-box-shadow: inset 0 0 0 8px rgba(225,225,225,0.5);
	-webkit-box-shadow: inset 0 0 0 8px rgba(225,225,225,0.5);
	box-shadow: inset 0 0 0 8px rgba(225,225,225,0.5);
}
.sm_megamenu_wrapper_horizontal_menu .r-content a:hover img{
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1) ;
	-o-transform: scale(1.1) ;
	-ms-transform: scale(1.1);
	transform: scale(1.1);
	position: relative; z-index: 1;
}


.sm_megamenu_wrapper_horizontal_menu .w-bestsales .block-title,
.sm_megamenu_wrapper_horizontal_menu .w-bestsales .saleoff-grid
{ display: none;}
.sm_megamenu_wrapper_horizontal_menu .w-bestsales .block-content ul{
	position: static !important;
	border: none; overflow: hidden;
	width: 100%;
}
.sm_megamenu_wrapper_horizontal_menu .w-bestsales .price-box{ margin: 2px 0 7px; line-height: 18px;}
.sm_megamenu_wrapper_horizontal_menu .w-bestsales .ratings .rating-box{ margin-bottom: 2px; float: none;}
.sm_megamenu_wrapper_horizontal_menu .w-bestsales p.rating-links{ 
	width: 100%;
}
.sm_megamenu_wrapper_horizontal_menu .w-bestsales p.rating-links a{ font-size:11px;}
.sm_megamenu_wrapper_horizontal_menu .w-bestsales .block-content ul li{
	border-bottom: 1px dashed #c8c8c8;
	width: 100%;
	padding: 20px 0 22px;
}
.sm_megamenu_wrapper_horizontal_menu .w-bestsales .block-content ul li:first-child{
	padding-top: 0;
}
.sm_megamenu_wrapper_horizontal_menu .w-bestsales .block-content ul.last li{
	border: none;
}

.sm_megamenu_wrapper_horizontal_menu .w-bestsales .block-content ul li a.product-image{
	float: left; margin-right: 5px; margin-bottom: 5px;
}
.sm_megamenu_wrapper_horizontal_menu .w-bestsales .block-content ul li .product-image a.product-image{
	
	overflow: hidden;
}
.sm_megamenu_wrapper_horizontal_menu .w-bestsales .block-content ul li .product-image a img{
	-webkit-transition: 0.3s ease-in-out 0s;
	-moz-transition: 0.3s ease-in-out 0s;
	-o-transition: 0.3s ease-in-out 0s;
	transition: 0.3s ease-in-out 0s; 
}
.sm_megamenu_wrapper_horizontal_menu .w-bestsales .block-content ul li .product-image a:hover img{
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1) ;
	-o-transform: scale(1.1) ;
	-ms-transform: scale(1.1);
	transform: scale(1.1)
}
.sm_megamenu_wrapper_horizontal_menu .w-bestsales .block-content ul li .product-name a{
	display: block;
	font-size:133.33%;
	color: #686868;
	line-height: 18px;
	margin-bottom: 5px;
}

.sm_megamenu_wrapper_horizontal_menu .w-bestsales p.no-rating{ margin-top: -3px; }
.sm_megamenu_wrapper_horizontal_menu .w-bestsales p.no-rating a{ font-size:11px; line-height: 18px;}
.sm_megamenu_wrapper_horizontal_menu .product-box .ratings-wrap-left{ line-height: 16px;}
.sm_megamenu_wrapper_horizontal_menu .product-box .ratings-wrap-left .no-rating{ text-align: left;}
.sm_megamenu_wrapper_horizontal_menu .block-newproduct .product-box .ratings-wrap-left .no-rating{ line-height: 13px;}
.sm_megamenu_wrapper_horizontal_menu .product-box .price,
.sm_megamenu_wrapper_horizontal_menu .product-box .special-price .special-price
{ color: #f48f00; }
.sm_megamenu_wrapper_horizontal_menu .w-bestsales .product-box .special-price span,
.sm_megamenu_wrapper_horizontal_menu .w-bestsales .product-box .regular-price{
	font-size:116.66%;
}
.sm_megamenu_wrapper_horizontal_menu .w-bestsales .product-box .old-price span{
	font-size: 100%; text-decoration: line-through; color: #686868;
} 
.sm_megamenu_wrapper_horizontal_menu .rating-links a{ color: #909090; display: inline-block !important; line-height: 10px;}
.sm_megamenu_wrapper_horizontal_menu .rating-links a.review-num{ border-right: 1px solid #909090; padding-right: 5px;}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li:hover a.sm_megamenu_head {
	color:#db1c5d;
	text-shadow: none;
	position:relative;
	z-index:11;
	
}

.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li.sm_megamenu_drop a.sm_megamenu_head:after{
	/*background: url(img/icon-arrow.png) no-repeat 0 -13px;
	content: "";
	display: inline-block;
	height: 6px;
	width: 9px;
	vertical-align: 1px;
	margin-left: 2px;*/
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li.sm_megamenu_actived a.sm_megamenu_head span.sm_megamenu_title,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li.sm_megamenu_drop:hover a.sm_megamenu_head span.sm_megamenu_title{
	position: relative;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li.sm_megamenu_actived a.sm_megamenu_drop.sm_megamenu_head span.sm_megamenu_title:after,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li.sm_megamenu_drop:hover a.sm_megamenu_head span.sm_megamenu_title:after{
	/*background: url(img/icon-arrow.png) no-repeat 0 top;
	content: "";
	display: inline-block;
	height: 6px;
	width: 9px;
	vertical-align: 1px;
	margin-left: 2px;
	position: absolute;
	top: 6px; right: -15px;*/
}
.block-menu .block-content ul.nav-menu > li > a, 
.block-menu .block-content ul.nav-menu > li > a,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li.sm_megamenu_actived > a,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li.sm_megamenu_drop > a{
	position: relative;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li.sm_megamenu_drop.sm_megamenu_actived a.sm_megamenu_head,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li.sm_megamenu_drop:hover a.sm_megamenu_head{
	/*padding-right: 34px;*/
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li:hover a.sm_megamenu_head:before,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li.sm_megamenu_actived a.sm_megamenu_head:before,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li.sm_megamenu_drop:hover a.sm_megamenu_head:before{
	width: 100%; position: absolute; top: -1px; left: 0; height: 1px; content: "";
}

.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li.sm_megamenu_drop.sm_megamenu_actived a.sm_megamenu_head:after,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li.sm_megamenu_drop:hover a.sm_megamenu_head:after{
	width: 100%; position: absolute; bottom: -1px; left: -2px; height: 1px; content: "";

}
.sm_megamenu_title {
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li:hover a.sm_megamenu_head:after,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li.sm_megamenu_nodrop.sm_megamenu_actived a.sm_megamenu_head:after
{
	width: 100%; position: absolute; bottom: -1px; left: 0; height: 1px; content: "";	
}
/*----------------------- Right aligned menu item ---------------------------------*/
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_right {
	float:right;
	right:0;
	margin-right:0px;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li.sm_megamenu_right:hover {
	margin-right:0px;
}

/*-----------------------------02 DROP DOWN MENU------------------------------*/
/*-------------------- Left & right aligned common styles ------------------------------*/

.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_dropdown_1column, 
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_dropdown_2columns, 
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_dropdown_3columns, 
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_dropdown_4columns,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_dropdown_5columns,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_dropdown_6columns,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_dropdown_fullwidth {
	margin:0px auto;
	top:-9999em;
	position:absolute;
	text-align:left;	
	z-index:999;
	left: 0;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.35);
}

/*------------------------------- Drop Downs Sizes --------------------------------------*/

.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_dropdown_1column {width: 16.66%; display: block/*  !important; */}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_dropdown_2columns {width: 33.33%; display: block /* !important; */}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_dropdown_3columns {width: 50%; display: block/*  !important; */}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_dropdown_4columns {width: 66.66%; display: block /* !important; */}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_dropdown_5columns {width: 83.33%; display: block/*  !important; */}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_dropdown_6columns {width: 100%; display: block/*  !important; */}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_dropdown_fullwidth {
	width: 100%;
	-moz-border-radius:5px;
    -webkit-border-radius:5px;
    -khtml-border-radius:5px;
    border-radius:5px;
}

.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li ..sm_megamenu_first_fullwidth {
	-moz-border-radius: 0px 5px 5px 5px;
    -webkit-border-radius: 0px 5px 5px 5px;
    border-radius: 0px 5px 5px 5px;
}

/*---------------------------------- Showing Drop Down on Mouse Hover - Left aligned -----------------------------------------*/

.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li:hover .sm_megamenu_dropdown_1column, 
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li:hover .sm_megamenu_dropdown_2columns, 
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li:hover .sm_megamenu_dropdown_3columns,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li:hover .sm_megamenu_dropdown_4columns,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li:hover .sm_megamenu_dropdown_5columns, 
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li:hover .sm_megamenu_dropdown_6columns,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li.other-toggle.open .sm_megamenu_dropdown_1column, 
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li.other-toggle.open .sm_megamenu_dropdown_2columns, 
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li.other-toggle.open.sm_megamenu_dropdown_3columns,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li.other-toggle.open .sm_megamenu_dropdown_4columns,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li.other-toggle.open.sm_megamenu_dropdown_5columns, 
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li.other-toggle.open .sm_megamenu_dropdown_6columns {
	top:48px;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li:hover .sm_megamenu_dropdown_fullwidth {
	left:21px;
	top:33px;
	display: block;
}
.sm_megamenu_wrapper_menu_full  .sm_megamenu_menu li:hover .sm_megamenu_dropdown_fullwidth {
	left:50%;
	margin-left:-470px;
	top:32px;
	display: block;
}

/*----------------------------------- Showing Drop Down on Mouse Hover - Right aligned --------------------------------- */

.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li .sm_megamenu_align_right {
	left:auto;
	right:0;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li:hover .sm_megamenu_align_right {
	left:auto;
	right:0px;
}

.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li.sm_megamenu_right:hover .sm_megamenu_dropdown_fullwidth {
	right:18px;
	top:33px;
}

/*-------------------------------------- Columns Sizes ---------------------------------------- */

.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_col_1,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_col_2,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_col_3,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_col_4,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_col_5,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_col_6 {	
	float: left;	
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_col_1 {width:16.6666666667%; padding: 0 1%;}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_col_2 {width:33.3333333333%; padding: 0 1%;}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_col_3 {width:50.0%; padding: 0 1%;}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_col_4 {width:66.6666666667%; padding: 0 1%;}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_col_5 {width:83.3333333333%; padding: 0 1%;}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_col_6 {width: 100%;}

.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_col_1,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_col_2,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_col_3,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_col_4,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_col_5,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_col_6 {
	background:#fff;
	text-align:left;
}

/* Use the .sm_megamenu_firstcolumn class for the items that stick to the left edge of the dropdown */
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu  .sm_megamenu_dropdown_1columns  > .sm_megamenu_firstcolumn,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu  .sm_megamenu_dropdown_2columns  > .sm_megamenu_firstcolumn,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu  .sm_megamenu_dropdown_3columns  > .sm_megamenu_firstcolumn,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu  .sm_megamenu_dropdown_4columns  > .sm_megamenu_firstcolumn,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu  .sm_megamenu_dropdown_5columns  > .sm_megamenu_firstcolumn,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu  .sm_megamenu_dropdown_6columns  > .sm_megamenu_firstcolumn {
	width: 100%;
	
}

/*---------------------------------03 CONTENT STYLING-------------------------------------*/

.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu p,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu ul,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu h2,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu h3 {

}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu p {
	/* line-height: 20px; font-size:100%;
	text-align: justify; */
}
.sm_megamenu_content .price-box{
	display:inline-block;
}
.sm_megamenu_content .price-box .old-price {
    float: right;
	padding-left:5px;
    vertical-align: middle;
}
.sm_megamenu_content .price-box .special-price {
    float: left;
	padding-right:5px;
    vertical-align: middle;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .strong {
	font-weight:bold;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .italic {
	font-style:italic;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu h2, 
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu h3 {

}
.sm_megamenu_wrapper_horizontal_menu .w-about-us .s-au{
	display: inline-block;
	margin-top: 15px;
}
.sm_megamenu_wrapper_horizontal_menu .w-about-us .s-au a{
	float: left;
	margin: 0 20px 30px 0;
	overflow:hidden;
}
.sm_megamenu_wrapper_horizontal_menu .w-about-us .s-au a img {
	-webkit-transition:.4s;
	-moz-transition:.4s;
	-o-transition:.4s;
	-ms-transition:.4s;
	transition:.4s;
}
.img-product-type .sm_megamenu_content a img{
	-webkit-transition:.4s;
	-moz-transition:.4s;
	-o-transition:.4s;
	-ms-transition:.4s;
	transition:.4s;
}
.img-product-type .sm_megamenu_content a{overflow:hidden; display:inline-block;}
.img-product-type .sm_megamenu_content a img{width:100%;}
.img-product-type .sm_megamenu_content a:hover img{
	transform:scale(1.1); -webkit-transform:scale(1.1); 
}
.sm_megamenu_wrapper_horizontal_menu .w-about-us .s-au a:hover img {
	transform:scale(1.1); -webkit-transform:scale(1.1); 
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu h2 {	
	font-size:166.66%;
	color: #686868;
	font-weight: normal;
	line-height: 18px;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu h3 {
	font-weight:600;
	font-size:14px;
	margin-bottom:14px;
	padding-bottom:7px;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li div a {
	
	text-decoration:none;
	text-shadow:none;
	border:none;
	padding:0;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .pusher { 
	/* Use this pucher if you want to give more vertical spacing between your rows of content */
	margin-top:18px;
}

/*---------------------------------- Icon paragraphs --------------------------------------*/

.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .help,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .favorite,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .mail,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .print {
	padding-left:36px;
	margin-bottom:18px;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .help {background:url("img/help.png") no-repeat 0px 2px;}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .favorite {background:url("img/favorite.png") no-repeat 0px 2px;}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .mail {background:url("img/mail.png") no-repeat 0px 2px;}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .print {background:url("img/print.png") no-repeat 0px 2px;}

/*------------------------------------------ Images styles ---------------------------------------*/

.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .imgshadow_dark { /* Better style on dark background */
	background:#FFFFFF;
	padding:4px;
	border:1px solid #333333;
	margin-top:5px;
	-moz-box-shadow:0px 0px 5px #000000;
	-webkit-box-shadow:0px 0px 5px #000000;
	box-shadow:0px 0px 5px #000000;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .imgshadow_light { /* Better style on light background */
	background:#FFFFFF;
	padding:4px;
	border:1px solid #777777;
	margin-top:5px;
	-moz-box-shadow:0px 0px 5px #000000;
	-webkit-box-shadow:0px 0px 5px #000000;
	box-shadow:0px 0px 5px #000000;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .img_left { /* Image sticks to the left */
	width:auto;
	float:left;
	margin:2px 15px 5px 0px;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .img_right { /* Image sticks to the right */
	width:auto;
	float:right;
	margin:2px 0px 5px 15px;
}

/*---------------------------------------- Box styles ---------------------------------------------*/

.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li .black_box,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li .dark_grey_box {
	
	padding:4px 6px 4px 6px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
	background-color:#0A0A0A;
	-webkit-box-shadow:inset 0 0 3px #000000;
	-moz-box-shadow:inset 0 0 3px #000000;
	box-shadow:inset 0 0 3px #000000;
}

/*----------------------------Standard lists styles--------------------------------------*/

.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li ul {
	list-style:none;
	padding:0;
	margin:0 0 12px 0;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li ul li {	
	line-height:24px;
	position:relative;	
	padding:0;
	margin:0;
	float:left;
	text-align:left;
	width:145px;
	padding-left:10px;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li ul li a {
	padding:0;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li ul li:hover {
	background:none;
}

/*----------------------------------------- Greybox lists styles -----------------------------------*/
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li .greybox li {
	background:#0A0A0A;
	border:1px solid #000000;
	margin:0px 0px 4px 0px;
	padding:4px 6px 4px 6px;
	width:131px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li .greybox li:hover {
	background:#141414;
	border:1px solid #111111;
	padding:4px 6px 4px 6px;
	margin:0px 0px 4px 0px;
}

/*---------------------------------------------- Other lists styles ------------------------------------*/
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li .plus li {
	background: url("img/plus_dark.png") left 6px no-repeat;
	margin:0px 0px 4px 0px;
	padding:0px 0px 0px 21px;
	width:109px;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li .plus li:hover {
	background: url("img/plus_dark.png") left 6px no-repeat;
	padding:0px 0px 0px 21px;
	margin:0px 0px 4px 0px;
}

/*-------------------------------------- Social Icons ---------------------------------------------------*/
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li ul.social {
	list-style:none;
	margin:0;
	padding:0;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li ul.social li {
	padding-top:5px;
	margin:0 12px 12px 0;
	float:left;
	position:relative;
	display:inline;
	width:32px;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li ul.social li img {
	border:none;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li ul.social li:hover {
	padding-top:5px;
	margin:-1px 12px 12px 0;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li ul.social li span {
	display:none;
}

/*-------------------------------- 2-Levels Drop Down ----------------------------------------------*/

.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .levels,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .levels ul { /* all lists */
	padding: 0;
	margin: 0;
	list-style: none;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li:hover .levels a {
	display:block;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .levels a {
	display: block;
	width: 10em;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .levels a.parent,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .levels a.parent:hover {
	background: url("img/drop2_dark.png") right center no-repeat;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .levels li {
	float: left;
	width:150px;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .levels li ul { /* second-level lists */
	position: absolute;
	background:#161616;
	border:1px solid #000000;
	top:-23px;
	margin:15px 0px 0px 4px;
	padding:6px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
	background: -moz-linear-gradient(top, #161616, #0A0A0A);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#161616), to(#0A0A0A));
	background: -o-linear-gradient(top, #161616, #0A0A0A);
	left: -999em;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .levels li ul ul {
	top:-23px;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .levels li:hover ul ul, 
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .levels li:hover ul ul ul {
	left: -999em;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .levels li:hover ul, 
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .levels li li:hover ul, 
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .levels li li li:hover ul {
	left: 142px;
}

/*----------------------------------------04 CONTACT FORM-----------------------------------------*/
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu #contact_form label, legend {
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu #contact_form legend {
	margin-bottom:10px;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu #contact_form {
	display: block;
	margin-bottom:10px;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu #contact_form label {
	display: inline-block; 
	float: left; 
	height: 36px; 
	line-height: 36px; 
	width:80px;
	font-size:12px; 
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu #contact_form input,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu  textarea,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu  select {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	width:200px;
	padding: 5px;
	color: #FFFFFF; 
	background-color:#222222;
	border:1px solid #0A0A0A;
	margin: 7px 0; 
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
}   
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu #contact_form textarea {
	resize:none;
}   
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu #contact_form input:focus,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu  textarea:focus,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu  select:focus {
	box-shadow: rgba(0,0,0, 0.7) 0px 0px 8px;
	-moz-box-shadow: rgba(0,0,0, 0.7) 0px 0px 8px;
	-webkit-box-shadow: rgba(0,0,0, 0.7) 0px 0px 8px;  
	border:1px solid #333333;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu #contact_form input:hover,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu  textarea:hover,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu  select:hover {
	box-shadow: rgba(0,0,0, 0.3) 0px 0px 8px;
	-moz-box-shadow: rgba(0,0,0, 0.3) 0px 0px 8px;
	-webkit-box-shadow: rgba(0,0,0, 0.3) 0px 0px 8px;  
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu #contact_form .required {
	color:#C00;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu #contact_form .form_buttons {
	margin:4px 0 0 80px;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu #contact_form input.button {
	width: 80px;
	margin-right:10px;
	cursor: pointer;
	background-color:#1E1E1E;
	border:1px solid #0A0A0A;
	color:#cccccc;	
	padding: 4px 7px 4px 7px;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu #contact_form input.button:hover {
	color:#eeeeee;	
	background-color:#222222;
	border:1px solid #000000;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu #contact_form .special {
	display:none;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu #contact_form .error,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu  #contact_form .sent {
	font-size:11px;
	padding:2px 5px 2px 5px;
	text-shadow:none;
	-moz-border-radius:3px; 
	-webkit-border-radius:3px; 
	border-radius: 3px;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu #contact_form .error {
	background:#FBE5E2; 
	border:#F2A197 solid 1px; 
	color:#992213;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu #contact_form .sent {
	background:#E1F8CB; 
	border:#C6D880 solid 1px; 
	color:#37620d;
}

/*---------------------------------------------05 COLORS----------------------------------------*/
           /*--------------------------------------- Black ------------------------------------*/

.sm_megamenu_wrapper_horizontal_menu .sambar-inner {
	background-color:#0A263C;
}
.sm_megamenu_wrapper_menu_full .sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu_black {
	border-bottom: 1px solid #444;
}

/*--------------------------------------- Blue ---------------------------------------------*/
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu_blue {
	background: #014464;
	background: -moz-linear-gradient(top, #0272a7, #013953);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0272a7), to(#013953));
	background: -o-linear-gradient(top, #0272a7, #013953);
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu_blue {
	border: 1px solid #015b86;
	border-top: 1px solid #029feb;
}
.sm_megamenu_wrapper_menu_full .sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu_blue {
	border-bottom: 1px solid #015b86;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu_blue li:hover div a {
	color:#0294da;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu_blue li:hover div a:hover {
	color:#33bcfd;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu_blue li ul li a:hover {
	color:#33bcfd;
}

/*---------------------------------------- Brown --------------------------------------*/
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu_brown {
	background: #44391e;
	background: -moz-linear-gradient(top, #736033, #382f19);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#736033), to(#382f19));
	background: -o-linear-gradient(top, #736033, #382f19);
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu_brown {
	border: 1px solid #5c4c29;
	border-top: 1px solid #a28748;
}
.sm_megamenu_wrapper_menu_full .sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu_brown {
	border-bottom: 1px solid #5c4c29;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu_brown li:hover div a {
	color:#8b733e;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu_brown li:hover div a:hover {
	color:#bfa670;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu_brown li ul li a:hover {
	color:#bfa670;
}

/*-------------------------------------- Green ------------------------------------------*/
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu_green {
	background: #3e5718;
	background: -moz-linear-gradient(top, #658c26, #354914);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#658c26), to(#354914));
	background: -o-linear-gradient(top, #658c26, #354914);
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu_green {
	border: 1px solid #52711f;
	border-top: 1px solid #8bc135;
}
.sm_megamenu_wrapper_menu_full .sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu_green {
	border-bottom: 1px solid #52711f;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu_green li:hover div a {
	color:#6f992a;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu_green li:hover div a:hover {
	color:#a3d158;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu_green li ul li a:hover {
	color:#a3d158;
}

/*-------------------------------------------- Light Blue --------------------------------------*/
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu_lightblue {
	background: #52786b;
	background: -moz-linear-gradient(top, #709e8e, #52786b);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#709e8e), to(#52786b));
	background: -o-linear-gradient(top, #709e8e, #52786b);
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu_lightblue {
	border: 1px solid #608c7d;
	border-top: 1px solid #99b9ae;
}
.sm_megamenu_wrapper_menu_full .sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu_lightblue {
	border-bottom: 1px solid #608c7d;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu_lightblue li:hover div a {
	color:#608c7d;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu_lightblue li:hover div a:hover {
	color:#99b9ae;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu_lightblue li ul li a:hover {
	color:#99b9ae;
}

/*----------------------------------------- Orange ----------------------------------------------*/
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu_orange {
	background: #d24900;
	background: -moz-linear-gradient(top, #ff6717, #c14300);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ff6717), to(#c14300));
	background: -o-linear-gradient(top, #ff6717, #c14300);
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu_orange {
	border: 1px solid #f45500;
	border-top: 1px solid #ff945b;
}
.sm_megamenu_wrapper_menu_full .sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu_orange {
	border-bottom: 1px solid #f45500;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu_orange li:hover div a {
	color:#f45500;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu_orange li:hover div a:hover {
	color:#ff945b;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu_orange li ul li a:hover {
	color:#ff945b;
}

/*------------------------------------------ Pink ------------------------------------------------*/
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu_pink {
	background: #910045;
	background: -moz-linear-gradient(top, #d50066, #80003d);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d50066), to(#80003d));
	background: -o-linear-gradient(top, #d50066, #80003d);
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu_pink {
	border: 1px solid #b30055;
	border-top: 1px solid #ff1a87;
}
.sm_megamenu_wrapper_menu_full .sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu_pink {
	border-bottom: 1px solid #b30055;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu_pink li:hover div a {
	color:#e6006d;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu_pink li:hover div a:hover {
	color:#ff4da1;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu_pink li ul li a:hover {
	color:#ff4da1;
}

/*------------------------------------ Purple -----------------------------------------*/
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu_purple {
	background: #6a5f71;
	background: -moz-linear-gradient(top, #8c8094, #615867);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#8c8094), to(#615867));
	background: -o-linear-gradient(top, #8c8094, #615867);
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu_purple {
	border: 1px solid #7b6f83;
	border-top: 1px solid #ada5b3;
}
.sm_megamenu_wrapper_menu_full .sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu_purple {
	border-bottom: 1px solid #7b6f83;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu_purple li:hover div a {
	color:#7b6f83;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu_purple li:hover div a:hover {
	color:#ada5b3;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu_purple li ul li a:hover {
	color:#ada5b3;
}

/*------------------------------------------------- Red --------------------------------------------*/
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu_red {
	background: #830701;
	background: -moz-linear-gradient(top, #d70b02, #830701);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d70b02), to(#830701));
	background: -o-linear-gradient(top, #d70b02, #830701);
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu_red {
	border: 1px solid #a40802;
	border-top: 1px solid #fd190f;
}
.sm_megamenu_wrapper_menu_full .sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu_red {
	border-bottom: 1px solid #a40802;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu_red li:hover div a {
	color:#d60a03;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu_red li:hover div a:hover {
	color:#fd5953;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu_red li ul li a:hover {
	color:#fd5953;
}
.sm_megamenu_icon {
	padding-left:30px;
    display: block;
}
.sm_megamenu_lv1 .sm_megamenu_nodesc  .sm_megamenu_title {
	/*line-height:48px;*/

}
.sm_megamenu_title .sm_megamenu_icon {
	min-height:21px;
}
.sm_megamenu_title span{
	line-height:21px;
}
.sm_megamenu_description{
	font-size:10px;
	display:block;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu  li div div.sm_megamenu_title{
    font-size:150%;
    height:auto;
    margin-bottom: 10px;
    /* margin-top: 13px; */
    /* padding-top: 7px; */
	padding-bottom:7px;
	border:none;
	padding-left:30px;
	font-family:'Oswald',sans-serif;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_content {
	/*padding-left:38px;*/
}
.menu-home  .block-about-us .sm_megamenu_content{padding-left:0px}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_content .wc1-content ul{
	position: static !important;
	border: none;
	overflow: hidden;	
	max-width: 100%;
	margin-top: 8px;
	padding-bottom: 0;
}
.img-product-type .sm_megamenu_content{padding-top:0px; padding-left:14px!important;}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_content .wc1-content h2{ padding-left: 5px;}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_content .wc1-content ul li:last-child{
	border-bottom: none;
}
.menu-wedding .wd-col{width:25%!important;/* padding:0!important; */}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_content .wc1-content ul li a{
	/* color: #686868; */
	font-size:100%;
	padding-left: 16px;
	line-height: 30px;
}
.valentine-image p{padding-left:27px;}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_content .wc1-content ul li{
	/*border-bottom: 1px dashed #c8c8c8;
	line-height: 30px;
	padding: 0 3px;
	width: 100%;*/
}

.w-cate-kitchen .wc1-content ul li,.menu-br .wc1-content ul li{
	padding:0 2px !important; 
}

.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_content .wc1-content ul.g-product li{
	padding: 0;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_content .sm_megamenu_head_button {
	background: url("img/bt.png") no-repeat scroll 0px 0px transparent;
	padding:4px 10px 3px;
	display:block;
    text-decoration: none;
	color:#305f8e;
	height:26px;
	float:right;
	padding-right:30px;
	text-shadow:none;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_content .sm_megamenu_head_button:hover {
	background: url("img/bt_hover.png") no-repeat scroll 0px 0px transparent;
	padding:4px 10px 3px;
	display:block;
    text-decoration: none;
	color:#e25203;
	height:26px;
	float:right;
	padding-right:30px;
	text-shadow:none;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_content ul{
	margin:0;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_content ul li a span {
	padding-left:13px;
	background:url("img/li_normal.png") no-repeat scroll 0 50% transparent;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_content ul li a:hover span {
	background:url("img/li_active.png") no-repeat scroll 0 50% transparent;
	color:#74B6E1;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_content label{
	color:#fff;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_content ul li input{
	 -moz-border-radius: 3px 3px 3px 3px;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_content ul.form-list li {
	clear:both;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_content form .fieldset {
	background: none;
	border:none;
	margin:0;
	padding:0;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_content form .fieldset ul.form-list{
	margin-top:5px;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_content form .fieldset ul.form-list li{
	width:350px;
	margin-top:5px;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_content form .fields .field{
	width:280px;
	margin-top:5px;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_content form .fieldset ul.form-list li label{
	float:left;
	font-weight:none;
	-moz-border-radius: 3px 0 0 3px;
    border: 1px solid #A2C1CC;	
	background-color: #F3F8FA;
	padding:0px 5px;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_content form .fieldset ul.form-list li label{
	color:#444444;	
	width:100px;
	text-shadow:none;
	font-weight:none;
	height:25px;
	*padding-top:2px;
	*border-top:1px solid #3a5163;
	padding:4px 5px 5px 15px;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_content form .fieldset ul.form-list .input-box{
	width:145px;
	clear:none;
	display:inline;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_content form .fieldset ul.form-list input.input-text{
	width:145px;
	display:block;
	height:30px;
	-moz-border-radius: 0 3px 3px 0;
	font-size:15px;
	*padding-top:2px;
	*padding-bottom:1px;
	*line-height:25px;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_content form .fieldset ul.form-list li.wide .input-box{
	clear:both;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_content form .fieldset ul.form-list li.wide label{
	width:420px;
	-moz-border-radius: 5px 5px 0 0;
	height:25px;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_content form .fieldset ul.form-list textarea{
	width:430px;
	background-color:#fff;
	border: 1px solid #a2c1cc;
	color:#2F2F2F;
	margin:0;
	-moz-border-radius:0 0 5px 5px;
	font-size:15px;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_content form .buttons-set{
	border:none;
	margin:0 0 10px 0;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_content form .buttons-set p{
	margin:0;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_content form button.sm_megamenu_head_button{
	padding-top:0px;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_content form button.sm_megamenu_head_button:hover{
	padding-top:0px;
}
.sm_megamenu_align_right{
    text-align: right;
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu:after { 
	content: "\0020"; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden; 
	overflow: hidden; 
}
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu {
	display: block; 
}

/*css for button*/
.sambar .sambar-inner .btn-sambar {
	background:#fff;
	color: #FFFFFF;
	float: right;
	margin-left: 5px;
	margin-right: 5px;
	padding: 5px 7px;
	display: none;
}

.sambar .sambar-inner .btn-inner {
	background: #08c;
	width: 100%;
	padding: 7px 0;
	float: left;
}

.sambar .btn-sambar .icon-bar {
	background-color: #0A263C;
	display: block;
	height: 2px;
	margin:2px 0;
	width: 18px;
}

@media all and (max-width: 767px) {
	.sm_megamenu_wrapper_horizontal_menu .sambar-inner {
		box-shadow: none;
		list-style: none outside none;
		margin: 30px auto 0;
		padding: 0;
		width: 100%;
	}
	.sambar .sambar-inner .btn-sambar {
		display: block;
		clear: both;
		margin: 7px;
	}
	.sambar .sambar-inner .btn-sambar + .sm_megamenu_menu{
	   display: none;
	   width: 100%;
	   float:left;	   
	}
	.sambar .sambar-inner .btn-sambar.open + .sm_megamenu_menu{
       display: block;
    }
	.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li {
		width: 100%;
		border-top: 1px solid #fff;
		position: relative;
		overflow: hidden;
	}

	.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li .sm_megamenu_align_right .sm_megamenu_right {
		position: relative;
	}	
	.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu > li > div > div {
		box-shadow: none;
	}	
	.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_dropdown_1column, 
	.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_dropdown_2columns, 
	.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_dropdown_3columns, 
	.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_dropdown_4columns, 
	.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_dropdown_5columns, 
	.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_dropdown_6columns, 
	.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_dropdown_fullwidth {
		position: static;
		float: left;
		height: 0;
		width: 100%;
	}
	.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li:hover > .sm_megamenu_dropdown_1column, 
	.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li:hover >.sm_megamenu_dropdown_2columns, 
	.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li:hover >.sm_megamenu_dropdown_3columns, 
	.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li:hover >.sm_megamenu_dropdown_4columns, 
	.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li:hover >.sm_megamenu_dropdown_5columns, 
	.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li:hover >.sm_megamenu_dropdown_6columns, 
	.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li:hover >.sm_megamenu_dropdown_fullwidth ,
	.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li.other-toggle.open > .sm_megamenu_dropdown_1column, 
	.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li.other-toggle.open >.sm_megamenu_dropdown_2columns, 
	.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li.other-toggle.open >.sm_megamenu_dropdown_3columns, 
	.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li.other-toggle.open >.sm_megamenu_dropdown_4columns, 
	.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li.other-toggle.open >.sm_megamenu_dropdown_5columns, 
	.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li.other-toggle.open >.sm_megamenu_dropdown_6columns, 
	.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li.other-toggle.open >.sm_megamenu_dropdown_fullwidth {
		height: auto;	
	}
	.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_col_1,
	.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_col_2,
	.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_col_3,
	.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_col_4,
	.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_col_5,
	.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_col_6 {
		width: 98%;
	}	
	.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li a.sm_megamenu_head {
		padding: 4px 10px;
	}
}

/* -----------------------Wedding image static --------------------------*/
.static-image-wedding{position:relative!important; width:100%!important; top:0!important; display:inline-block; border:none!important;}
.wd-image-cat {width:100%!important; padding:0!important;}

.static-image-wedding li {
    display: inline-block;
    width: 50%!important;
}
.cate-category {
    padding-right: 0px!important;
}