<?php $helper = Mage::helper('wb_orderpdf'); ?>

<div class="block-footer" style="background-color: #<?php echo $helper->getOrderPdfFooterStyles('background_color'); ?>;
            border-top: <?php echo $helper->getOrderPdfFooterStyles('border_width'); ?> solid #<?php echo $helper->getOrderPdfFooterStyles('border_color'); ?>;
            text-align: <?php echo $helper->getOrderPdfFooterStyles('comment_alignment'); ?>;">
    <div class="fieldset" style="font-size: <?php echo $helper->getOrderPdfFooterStyles('font_size'); ?>; color: #<?php echo $helper->getOrderPdfFooterStyles('font_color'); ?>;">
        <strong><?php echo $helper->getOrderPdfFooterStyles('comment'); ?></strong>
    </div>
</div>

<span style="text-align: right">

</span>
