<div class="block block-list block-amseorichdata" itemscope="" itemtype="<?php echo $this->getProductSchema()?>">
    <div class="block-title">
        <strong><span itemprop="name"><?php echo $this->getCategory()->getName()?></span></strong>
    </div>
    <div class="block-content">
        <?php if ($this->getReviewsCount()): ?>
            <div class="ratings" itemscope="" itemprop="review" itemtype="<?php echo $this->getReviewsSchema() ?>">
                <meta itemprop="rating" content="<?php echo round(($this->getRatingSummary() * 5) / 100, 2) ?>">
                <meta itemprop="count" content="<?php echo $this->getReviewsCount()?>">
                <meta itemprop="votes" content="<?php echo $this->getVotesCount()?>">

                <?php if ($this->getRatingSummary()):?>
                    <div class="rating-box">
                        <div class="rating" style="width:<?php echo $this->getRatingSummary() ?>%"></div>
                    </div>
                <?php endif;?>
                <p class="rating-links">
                    <?php echo $this->__('%d Review(s)', $this->getReviewsCount()) ?>
                </p>
            </div>
        <?php endif; ?>

        <div class="price-box" itemscope="" itemtype="<?php echo $this->getOfferSchema()?>" itemprop="offerDetails">
            <p class="minimal-price">
                <span class="price-label"><?php echo $this->__('Minimal Price:')?></span>
                <span class="price">
                    <span itemprop="currency" content="<?php echo $_currency = Mage::app()->getStore()->getCurrentCurrencyCode(); ?>"><?php echo Mage::app()->getLocale()->currency($_currency)->getSymbol(); ?></span><span itemprop="lowPrice"><?php echo $this->getMinimalPrice()?></span>
                </span>
            </p>
        </div>
    </div>
</div>

