body {
	margin: 0px 0px 0px 0px !important;
	padding: 0px;
	font-family: Century Gothic, Helvetica, Arial, sans-serif;
}
form {
	padding: 0px;
	margin: 0px;
}
.cleaner {
	clear: both;
}
.wrap {
	width: 100%;
	height: 100%;
}
.wrapper {
	width: 100%;
	text-align: center;
	height: 100%;
}
.wrapper2 {
	padding:25px 0;
	width:1020px;
	margin:0 auto;
	background:#fff;
}
.row1 {
	padding:0px;
}
#logo {
	font:11px Arial, Helvetica, sans-serif;
	color:#F00;
	margin-left:811px;
	position:absolute;
	text-decoration:none;
	top:0px;
	z-index:2;
	font-weight:bold;
*margin-left:900px;
*margin-top:0px;
*margin-left:900px;
*margin-top:0px;
*position:absolute !important;
*top:0px !important;
}
#logo a {
	color:#F00;
	text-decoration:none;
}
#logo a:hover {
	color:#F00;
	text-decoration:underline;
	font-weight:bold
}
#logo h1 {
	font:11px Arial, Helvetica, sans-serif;
	margin:0;
	padding:0;
	height:25px;
	line-height:22px;
	color:#fb3a04 !important;
	width:190px;
}
.logo_name {
	float: left;
	background:url() 0 -2px no-repeat;
	width: 50px;
	height:30px;
}
.logo_space {
	width:1020px;
}
#headerwrapper {
	margin-bottom:10px;
}
.shop-logo {
	float:left;
	margin:10px 0px;
}
.b1 {
	float:right;
}
#fancybox-wrap {
	top: 50px !Important;
}
#search_block {
	float: right;
	margin:0px 0px 0px;
}
#searchbox p.search_form label {
	color: #707070;
	display: block;
	float: left;
	font: bold 14px "Trebuchet MS", Arial, Helvetica, sans-serif;
	padding: 8px 11px 0 12px;
	text-transform: uppercase;
 *padding-top:0px;
}
#search_block p.search_form {
	float: left;
	height: 31px;
	margin:0px;
	padding:0px;
}
#search_block p.search_btn {
	float: left;
	height: 31px;
	padding: 0 0 0 2px;
	margin:0px;
}
#search_block p.search_btn a {
	background: url("http://mokky.co.uk/ebay/images/magnifier.png") no-repeat scroll 0 0 transparent;
	display: block;
	float: right;
	height: 30px;
	overflow: hidden;
 *padding:0px;
 *height:44px;
 *margin-top:0px;
 *line-height:30px;
	width: 30px;
	text-align:center;
	text-decoration:none;
	position:absolute;
	margin-left:-25px;
	margin-top:6px;
}
#search_block input.search_query {
	border: 1px solid #b4b4b4;
	color:#b4b4b4;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 5px 0 5px 3px;
	width: 200px;
}
#search_block input.search_query:focus {
	outline:1px solid #222;
}
#nav {
	text-align:center;
	position:relative;
	margin:5px 0px;
}
a {
}
ul {
	list-style: none;
}
/* 
	LEVEL ONE
*/
ul.dropdown {
	list-style: none;
	position: relative;
	margin: 0;
	padding: 0;
	list-style: none;
	height:36px;
	float:left;
}
ul.dropdown li {
	float: left;
	zoom: 1;
	text-align:left;
}
ul.dropdown a:active {
	color: #fff;
}
ul.dropdown li a {
	display: block;
	padding:5px 10px;
	color: #231f20;
	font:14px Century Gothic, Helvetica, Arial, sans-serif;
	text-decoration: none;
	text-transform:uppercase;
}
ul.dropdown li:last-child a {
	border-right: none;
} /* Doesn't work in IE */
ul.dropdown li.hover, ul.dropdown li:hover {
	position: relative;
	background: #000;
	color:#fff;
	border-bottom:0px;
}
ul.dropdown li:hover a.dropdown_root_ct_link {
	color:#fff;
}
/* 
	LEVEL TWO
*/
ul.dropdown ul {
	margin:0;
	padding:0 5px !important;
	width:190px;
	visibility: hidden;
	position: absolute;
	top: 100%;
	left: 0px;
	background:#fff;
	z-index:999;
	-webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
	border:1px solid #ccc;
}
ul.dropdown ul li {
	font-weight: normal;
	background: none;
	color: #000;
	float: none !important;
	width:100%;
}
ul.dropdown_store_sub_ct li {
	float:none !important;
}
/* IE 6 & 7 Needs Inline Block */
ul.dropdown ul li a {
	font-size:11px !important;
	text-transform:capitalize;
	font-weight:normal;
	border-right: none;
	display: inline-block;
	padding: 5px 0px 5px 8px;
}
ul.dropdown li:hover ul li {
	border:none !important;
}
ul.dropdown li:hover ul li.hover {
	color:#fff;
	background:#fff;
}
ul.dropdown_store_sub_ct li:hover a:active {
	color:#000 !important;
}
ul.dropdown_store_sub_ct li a {
	color:#000;
}
ul.dropdown li ul.dropdown_store_sub_ct li:hover a {
	text-decoration:underline;
}
.dropdown_store_sub_ct li:hover {
	background:#fff !important;
}
/* 
	LEVEL THREE
*/
.dropdown_store_sub_ct li.hover ul {
}
.dropdown_store_sub_ct li.hover ul li {
	background:#000;
}
ul.dropdown ul ul {
	left: 100%;
	top: 0;
	margin:0;
	padding:0;
}
ul.dropdown li:hover > ul {
	visibility: visible;
	margin:0;
	padding:0;
}
ul.dropdown li ul.dropdown_store_sub_ct li ul.dropdown_store_lev3_ct li a.dropdown_store_lev3_ct {
	color:#fff;
}
ul.dropdown li ul.dropdown_store_sub_ct li ul.dropdown_store_lev3_ct li.hover a.dropdown_store_lev3_ct {
	color:#000;
}
/*last li of list*/

.tag-line {
	width:1020px;
	height:20px;
	border-bottom:1px solid #cecece;
	border-top:1px solid #cecece;
	padding:3px 0px;
}
.tag-line ul {
	margin:0;
	padding:0;
	list-style:none;
	width:100%;
}
.tag-line ul li {
	float:left;
	border-right:1px solid #cecece;
	width:24.9%;
	text-align:center;
}
.tag-line ul li:last-child {
	border-right:none;
}
.breadcrum {
	margin:0px;
	padding:0px;
	list-style:none;
}
.breadcrum li {
	float:left;
	display:inline-block;
	width:auto;
}
.breadcrum li a {
	color:#8C8C8C;
	font:12px Century Gothic, Helvetica, Arial, sans-serif;
	padding:2px 5px;
}
li.active-bread, .breadcrum li {
	color:#000;
	font:12px Century Gothic, sans-serif;
	padding:5px 5px;
}
/*------------------header and navigation end------------------*/
#listing-wrap {
	width: 1020px !important;
	margin: 10px auto 0 auto;
}
#listing-wrap #listing-left {
	float: left;
	padding: 0px;
	margin:5px 0px; /* width:510px;*/
}
#listing-left #main_box2 {
	position:relative;
	margin:0;
	padding:0px
}
#listing-left #main_box2 .image-wrapp {
	padding:0 0 0 0;
}
.active-image {
	padding:0;
	float:right;
	margin:0 5px;
}
.active-image img {
	width:500px;
	height:auto;
	max-height:500px;
}
#etalage {
	margin:0px 5px 0px 0px;
	padding:0;
	list-style:none;
	float:left;
}
#etalage li {
	width:75px;
	padding:5px;
	margin:5px 0px;
	cursor:pointer;
	border:1px solid #ddd;
	text-align:center;
}
#etalage li:first-child {
	margin-top:0px;
}
#etalage li img {
	width:65px;
	height:auto;
	max-height:65px;
}
#listing-wrap #listing-right {
	float: right;
	padding: 0px;
	margin:5px 0px;
	width:430px;
}
#pdesc {
	padding:5px;
}
h1.title {
	font:14px Century Gothic, sans-serif;
	text-align:left;
	color:#231f20;
	margin:0;
	border-bottom:1px solid #d7d7d7;
	padding:5px 10px 20px;

}
.spec {
	margin:0px;
	padding:10px 10px;
	list-style:none;
}
/*.spec li{ text-align: left; font:12px Verdana, Geneva, sans-serif !important; color: #595959; padding: 5px 0px;}
*/.spec li label {
	font-weight:bold;
	color:#595959;
}
.desc1 {
	font-family:Verdana, Geneva, sans-serif !important;
}
.desc1 td {
	padding:1px;
	text-align:left;
}
.desc1 .red {
	font:bold 14px Verdana, Geneva, sans-serif !important;
	color:#595959;
}
.desc1 .style1, .desc1 font {
	font:bold 14px Verdana, Geneva, sans-serif;
	color:#8C8C8C;
	text-align:left;
}
.mydesc {
	color:#595959;
	font-size:12px;
	text-align:justify;
	padding:5px 10px;
border-top:1px solid #bebebe;
	margin:0;
}
.spec ul, .addDesc ul {
	list-style:square !important;
	padding-right:10px !important;
}
.spec ul li, .addDesc ul li {
	text-align:left !important;
	font:12px Century Gothic, sans-serif !important;
	color:#595959 !important;
	padding:5px 0px !important;
}
.spec ul li font, .addDesc ul li font {
	font:12px Century Gothic, sans-serif !important;
}
.ebay-options {
	border:1px solid #c7c7c7;
	padding:5px 0 0 25px;
	margin-top:15px;
	font-size:12px;
}
.ebay-options .span1 {
	width:50%;
	float:left;
	display:block;
	height:28px;
	text-align:left;
}
.ebay-options .span1 ul {
	list-style:none;
	padding:0px;
	margin:0px;
}
.ebay-options .span1 li {
	display:inline;
	padding:0px;
	margin:0px;
}
.ebay-options .span1 li a {
	font-size:12px;
	color: #333;
	text-decoration: none;
	font-family:Century Gothic, sans-serif;
}
.ebay-options .span1 li a:hover {
	text-decoration: underline;
}
[class^="icon-"]:last-child, [class*=" icon-"]:last-child {
 margin-right: 4px;
}
[class^="icon-"], [class*=" icon-"] {
display: inline-block;
width: 16px;
height: 16px;
*margin-right: .3em;
line-height: 16px;
vertical-align: text-top;
}
.icon-heart {
	background:url(http://mokky.co.uk/ebay/images/heart.png) no-repeat;
}
.icon-home {
	background:url(http://mokky.co.uk/ebay/images/home.png) no-repeat;
}
.icon-pencil {
	background:url(http://mokky.co.uk/ebay/images/pencil.png) no-repeat;
}
.icon-speech {
	background:url(http://mokky.co.uk/ebay/images/speech.png) no-repeat;
}
.compatibility {
	margin:10px 0px;
	border:1px solid #CACACA;
}
/*------------------------scroller-----------------------------------------*/
.level {
	padding:0px;
}
.level h2 {
	font:bold 21px Century Gothic, sans-serif;
	color:#000;
	margin:2px;
	padding:0px;
	text-transform:capitalize;
	text-align:left;
}
.featured-warpper {
	position:relative;
}
.detail {
	background:#FFF;
	margin: 0px;
	padding: 9px;
}
.featured-inner {
	padding-top:5px;
	margin:0px 10px 0px;
}
.f-clear {
	height:0px;
	width:180px;
}
div.featured-inner ul.rcarousel li a div {
	display:table-cell;
	text-align:center;
	vertical-align:middle;
	width:120px;
}
.price_feat {
	color:#dd2523;
	font:bold 12px Arial, Helvetica, sans-serif;
	margin:0 auto;
	position:absolute;
	bottom:40px;
	padding:0px 5px;
}
.title_newa {
	color: #000000;
	font: 11px Arial, Helvetica, sans-serif !important;
	padding: 4px;
	text-decoration: none;
}
.buy_now_n {
	position:absolute;
	bottom:0;
	margin:0 5px;
}
.buy_now_n a {
	transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
	-moz-transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
	-webkit-transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
	-o-transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
	display:block;
	padding:6px 12px;
	background:#000;
	color:#fff !important;
	font:12px Arial, Helvetica, sans-serif;
	text-decoration:none;
}
.buy_now_n a:hover {
	background-color:#dd2523;
	color:#222;
	text-decoration:none !important;
}
#foo6 {
	margin:0;
	padding:0;
	list-style:none;
}
#foo6 li img {
	width:140px;
	height:auto;
	max-height:150px;
	padding:5px 15px;
	margin:0px 10px;
	background:#fff;
}
#foo6 li img:hover {
}
#foo6 li {
	float:left;
	width:160px;
	height:200px;
	text-align:center;
	margin:10px 14px;
	position:relative;
}
.image_carousel {
	padding: 0px 0 15px 20px;
	position: relative;
}
a.prev2, a.next2 {
	width: 32px;
	height: 32px;
	display: block !important;
	z-index:99;
	cursor:pointer;
}
a.prev2 {
	left: 0px;
	/*background-position: 0 0; */
    background: url("http://mokky.co.uk/ebay/images/arrow-left.png") no-repeat scroll;
	float:right;
	position:absolute;
	bottom:50%;
}
a.prev2:hover {
	background: url("http://mokky.co.uk/ebay/images/arrow-left.png") no-repeat scroll;
}
a.prev2.disabled {
	background: url("http://mokky.co.uk/ebay/images/arrow-left-hover.png") no-repeat scroll;
}
a.next2 {
	float:left;
	right: 1px;
	/*background-position: -50px 0; */
    background: url("http://mokky.co.uk/ebay/images/arrow-right.png") no-repeat scroll;
	position:absolute;
	bottom:50%;
}
a.next2:hover {
	background-color:#000;
	background: url("http://mokky.co.uk/ebay/images/arrow-right.png") no-repeat scroll;
}
a.next2.disabled {
	background: url("http://mokky.co.uk/ebay/images/arrow-right-hover.png") no-repeat scroll;
}
a.prev2.disabled, a.next2.disabled {
	cursor: default;
}
a.prev2 span, a.next2 span {
	display: none;
}
/*-----------------------tabs---------------------------------*/
.tabs {
	margin:0;
	padding:0;
	text-align:left;
}
.tabs li {
	list-style:none;
	display:inline;
}
.tabs a {
	padding:5px 10px;
	display:inline-block;
	background:#a5a5a5;
	color:#fff;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	text-decoration:none;
	font-size:12px;
}
.tabs a.active {
	background:#fff;
	color:#000;
	border:1px solid #d7d7d7;
	border-bottom:0px;
	line-height:2em;
	position:relative;
	top:1px;
}
div.tabcontent {
	padding:15px;
	background:#fff;
	border:1px solid #d7d7d7;
	font-size:12px;
	text-align:justify;
}
div.tabcontent p {
	padding:5px 10px;
	margin:0;
}
div.tabcontent h3 {
	padding:0;
	margin:0;
}
.ratingTable {
	font:1em Arial, Helvetica, sans-serif;
	color:#595959;
}
.commentTD p {
	width:190px;
	word-wrap:break-word;
}
.feedbackTitle, .FromTitle, .DateTitle {
	font-weight:bold;
}
.commentTD img {
	width:10px;
	height:auto;
}
.ratingTable p {
	padding:5px 0px !important;
}
.ratingTable td {
	vertical-align:central;
	padding:0px 2px;
}
.userTD, .dataTD {
	font-size:11px;
}
a.fullFeedbackLink {
	color:#000;
	text-decoration:underline;
}
.feedbackProductTitle {
	font:bold 12px Arial, Helvetica, sans-serif;
	margin:5px 0px !important;
}
tr.feedbackBG > td {
	padding-bottom: 15px;
}
p.ratingStar {
	padding:0px !important;
}
#table2 td {
	border-right: 1px solid #f9f9f9;
	border-bottom: 1px solid #f9f9f9;
	padding: 0 !important;
	text-align: center;
	font-size:11px;
}
.fdate {
	float:left;
}
.fdtime {
	float:left;
}
.userScore {
	color:#00C;
}
.block {
	height: 25px;
	position: relative;
	color: #dd2523;
	background: #000;

}
#footer {
	padding:0px;
	margin:10px 0px 0px 0px;
	border-top:2px solid #eeeeee;
	width:100% !important;
}
#footermenubox {
	margin:0px auto;
	background:#fff;
	padding:0px 0px;
}
.section-space {
	padding:10px;
}
.heading {
	font:bold 12px Century Gothic, sans-serif;
	color:#222;
	text-transform:uppercase;
	margin:0px 0px 10px 0px;
}
.fbox {
	float:left;
	margin:0px;
	width:20%;
	text-align:left;
}
.go28 {
	width:28%
}
.go25 {
	width:24%
}
ul.footermenu {
	margin: 0;
	padding:0;
}
.fbox p {
	font:bold 12px/30px Century Gothic, sans-serif;
	padding:5px 0px;
	text-transform:uppercase;
	height:30px;
	margin:0;
}
.contactPh {
	background:url(http://mokky.co.uk/ebay/images/tel.png) center left no-repeat;
	padding-left:35px !important;
}
.contactemail {
	background:url(http://mokky.co.uk/ebay/images/mail.png) center left no-repeat;
	padding-left:35px !important;
}
.contactInfo {
	background:url(http://mokky.co.uk/ebay/images/hours.png) center left no-repeat;
	padding-left:35px !important;
}
.col2 {
}
.col2 li {
	float:left;
	width:50%;
}
ul.footermenu {
	list-style:disc outside none;
	padding:0;
}
/* Bullet */
ul.footermenu {
	list-style:none outside none;
}
ul.footermenu li {
	margin:3px 0px;
}
ul.footermenu li:hover {
}
.footermenu li a {
	color: #222;
	display:inline-block;
	text-align: center;
	text-decoration: none;
	font:10px Century Gothic, sans-serif;
	padding:2px 0px;
	text-transform:uppercase;
}
.footermenu li a:hover {
	color:#dd2523;
	text-decoration:underline;
}
.social {
	border-top:1px solid #ddd;
	padding-top:10px;
}
.social-links {
	float:right;
	margin-top:8px;
}
.social-links a {
	float:left;
	display:block;
	margin-right:5px;
	margin-bottom:5px;
	overflow:hidden;
	width:48px;
	height:48px;
	border-radius:0;
	opacity:0.7;
	filter:alpha(opacity=70); /* For IE8 and earlier */
}
.social-links a.last {
	margin-right:0;
}
.social-links a:hover {
	opacity:1.0;
	filter:alpha(opacity=100); /* For IE8 and earlier */
}
.ratignStarIcon, p.FeedBackItemTitle, p.AllFeedBackItemTitle {
	display:none;
}
/*.AllFeedBackItemTitle{font-size:9px; color:#999;}
*/a.feedbackScoreLink, a.checkItemLink {
	text-decoration:none;
	color:#000;
}
fieldset {
	border:0px solid green
}
legend {
	padding: 0.2em 0.5em;
	border-bottom:0px solid #cacaca;
	color:green;
	font-size:13px;
        padding-top:15px;
	font-weight:bold;
	text-align:left;
	color:#333;
}
.TFtable {
	width:100%;
	border-collapse:collapse;
	font-size:12px;
}
.TFtable td {
	padding:7px;
	border:#cacaca 1px solid;
}
/* provide some minimal visual accomodation for IE8 and below */
	.TFtable tr {
	background: #f3f3f3;
}
	/*  Define the background color for all the ODD background rows  */
	.TFtable tr:nth-child(odd) {
background: #f3f3f3;
}
	/*  Define the background color for all the EVEN background rows  */
	.TFtable tr:nth-child(even) {
background: #fff;
}
.gallery-thumbnail li img {
	width:70px !important;
	height:auto;
}
.gallery-column-view .gallery-thumbnail {
	width:auto !important;
}
.gallery-column-view .gallery-image {
	width:600px !important;
}
/* ------------------------------------------------- */

}
.gallery-thumbnail {
	padding: 0;
	margin: 0;
	display: table;
}
.gallery-image {
	margin-bottom: 20px;
}
.gallery-image div {
	margin-top: 10px;
}
.gallery-thumbnail li {
	list-style: none;
	margin: 5px;
	text-align: right;
	float:left;
}
.gallery-column-view .gallery-thumbnail {
	width: 20%;
	float: left;
}
.gallery-column-view .gallery-image {
	width: 78%;
	float: right;
	text-align: left;
}
.gallery-row-view .gallery-thumbnail li {
	float: left;
	

.cl{ clear:both;}