<?php
	
	$checkout = Mage::getSingleton('checkout/type_onepage');
	$can_ship = !$checkout->getQuote()->isVirtual();
	$current_step = Mage::registry('tcheckout_current_step');
?>

<div class="checkout-header">
<a href="<?php echo $this->getUrl() ?>">
<img src="<?php echo $this->getSkinUrl('images/logocheckout.png');  ?>">
</a>
</div>
<div id="tcheckout-progress" class="tcheckout-progress <?php if(!$can_ship):?> two-steps <?php endif;?>">
<?php echo $this->getChildHtml('progressbar')?>
</div>


<?php echo $this->getMessagesBlock()->getGroupedHtml(''); ?>


<script type="text/javascript">
//<![CDATA[

	var countryRegions = <?php echo $this->helper('directory')->getRegionJson() ?>;
    var payment = new paymentForm('tcheckout-form');
    
    var loginFormHtml = '<div id="elogin-message" class="a-left"></div>'+
		'<ul class="form-list">'+
            '<li>'+
                '<label class="required" for="elogin-email"><em>*</em><?php echo $this->__('Email Address');?></label>'+
                '<div class="input-box"><input type="text" title="<?php echo $this->__('Email Address');?>" class="input-text" id="elogin-email" /></div>'+
            '</li>'+
            '<li>'+
                '<label class="required" for="elogin-password"><em>*</em><?php echo $this->__('Password');?></label>'+
                '<div class="input-box"><input type="password" title="<?php echo $this->__('Password');?>" class="input-text" id="elogin-password"/></div>'+
            '</li>'+
        '</ul>'+
        '<div class="actions">'+
        	'<div id="elogin-buttons">'+
	        	'<div class="left">'+
	        		'<a href="<?php echo $this->getUrl('customer/account/forgotpassword')?>"><?php echo $this->__('Forgot Your Password?')?></a>'+
	        	'</div>'+
	        	'<div class="right">'+
	        		'<button class="button" onclick="TINY.box.hide();return false;"><span><span><?php echo $this->__('Cancel');?></span></span></button>'+
	        		'<button style="margin-left:5px;" class="button" onclick="elogin($(\'elogin-email\').value, $(\'elogin-password\').value, \'<?php echo $this->getUrl('tcheckout/index/login');?>\');return false;"><span><span><?php echo $this->__('Login');?></span></span></button>'+
	        	'</div>'+
	        '</div>'+
        	'<div id="elogin-loading" style="display:none;"><?php echo $this->__('loading please wait...');?></div>'+
        '</div>';
	
	
    
//]]>
</script>
	

<div id="tcheckout-container"><?php echo $this->getChildHtml('step')?></div>

<script type="text/javascript">
//<![CDATA[
    
    Object.extend(Checkout.prototype, {
    	addressLoad:function(){
    		
    		billing = new Billing('tcheckout-form');
		    
		    $('billing-address-select') && billing.newAddress(!$('billing-address-select').value);
		    
		    billingRegionUpdater = new RegionUpdater('billing:country_id', 'billing:region', 'billing:region_id', countryRegions, undefined, 'billing:postcode');
		    
		    <?php if($can_ship):?>
		    
		    shipping = new Shipping('checkout-address-form');
		    
		    shippingRegionUpdater = new RegionUpdater('shipping:country_id', 'shipping:region', 'shipping:region_id', countryRegions, undefined, 'shipping:postcode');
		    
		    <?php endif;?>
    	},
    	methodsLoad:function(){
    		shippingMethod = new ShippingMethod('tcheckout-form', '');
    	},
    	reviewLoad:function(){
    		payment.init();
			
		    if($('payment-tool-tip-close')){
		        Event.observe($('payment-tool-tip-close'), 'click', payment.toggleToolTip);
		    }
    	}
    });
    
    checkoutForm = new Checkout('tcheckout-form', false, true);
    
    checkoutForm.initStep('<?php echo $current_step;?>', {back_url:'<?php echo $this->getBackUrl($current_step);?>'}, true);
    
//]]>
</script>

