
<script>
var js = jQuery.noConflict();
js(document).ready(function(){
	js( ".box-billing-address" ).empty();
	js( ".cart-content-header" ).show();
	js( ".billing-info" ).clone().appendTo( ".box-billing-address" );
	
	js('.shipping-method').show();
	
});
</script>

<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>

<div class="tcheckout-step">
<div class="tcheckout-step-wrap">
<form id="tcheckout-form" method="post" action="<?php echo $this->getUrl('tcheckout/index/saveMethods')?>">
<fieldset>
	<?php echo $this->getChildHtml('');?>
	<div class="buttons-set" id="shipping-buttons-container">
        <p class="required"><?php echo $this->__('* Required Fields') ?></p>
    	<table style="width:100%">
    	<tr>
	    	<td style="width:20%">
	        <p class="back-link"><a href="<?php echo $this->getUrl('tcheckout/index/index')?>"><?php echo $this->__('Back') ?></a></p>
	    	</td>
	    	<td class="a-center">
	    	<strong id="tcheckout-please-wait" class="tcheckout-please-wait" style="display:none;">
	            <img src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif') ?>" alt="<?php echo $this->__('Loading, please wait...') ?>" title="<?php echo $this->__('Loading, please wait...') ?>" class="v-middle" /> <?php echo $this->__('Loading, please wait...') ?>
	        </strong>
	    	</td>
	    	<td style="width:20%">
	        <button  id="tcheckout-save-btn" type="submit" title="<?php echo $this->__('Continue') ?>" ><span><span><?php echo $this->__('Continue') ?></span></span></button>
	    	</td>
    	</tr>
    	</table>
    </div>
</fieldset>
</form>
</div>
</div>