<?php
	
	$checkout = Mage::getSingleton('checkout/type_onepage');
	$can_ship = !$checkout->getQuote()->isVirtual();
	
	if($can_ship){
		$back_url = $this->getUrl('tcheckout/index/methods');
	}else{
		$back_url = $this->getUrl('tcheckout/index/index');
	}
	
?>
<script>
var js = jQuery.noConflict();
js(document).ready(function(){
	js( ".box-total-address" ).empty();
	js( ".cart-content-header" ).remove();
	js( "#checkout-review-table" ).clone().appendTo( ".box-total-address" );
	
	js('.shipping-method').show();
	
});
</script>
<div class="tcheckout-step" id="tcheckout-step-review">
	<div class="tcheckout-step-wrap">
		<form id="tcheckout-form" method="post" action="<?php echo $this->getUrl('tcheckout/index/saveOrder')?>">
		<fieldset>
			
			<?php echo $this->getChildHtml('');?>
			
			<?php
				if((int)Mage::getStoreConfig('checkout/deliverydatecomment/enabled_comment') == 2){
			    	
			    	if($block = $this->getLayout()->createBlock('ecommerceteam_ddc/form')){
			    		
			    		echo $block->setTemplate('ecommerceteam/ddc/comment.phtml')->toHtml();
			    		
			    	}
			    	
		    	}
		    ?>
			<div class="buttons-set">
				<table style="width:100%">
		    	<tr>
			    	<td style="width:20%">
			        <p class="back-link"><a href="<?php echo $back_url;?>"><?php echo $this->__('Back') ?></a></p>
			    	</td>
			    	<td class="a-center">
			    	<strong id="tcheckout-please-wait" class="tcheckout-please-wait" style="display:none;">
			            <img src="<?php echo $this->getSkinUrl('images/m-wait.gif') ?>" alt="<?php echo $this->__('Loading, please wait...') ?>" title="<?php echo $this->__('Loading, please wait...') ?>" class="v-middle" /> <?php echo $this->__('Loading, please wait...') ?>
			        </strong>
			    	</td>
			    	<td style="width:20%">
			        <button id="tcheckout-save-btn" type="submit" title="<?php echo $this->__('Place Order') ?>" ><span><span><?php echo $this->__('Place Order') ?></span></span></button>
			    	</td>
		    	</tr>
		    	</table>
		    </div>
		</fieldset>
		</form>
	</div>
</div>