@font-face {
    font-family: "FuturaStd-Light";
    font-style: normal;
    font-weight: normal;
    src: url("fonts/FuturaStd-Light.eot?#iefix") format("embedded-opentype"), url("fonts/FuturaStd-Light.otf") format("woff"), url("fonts/FuturaStd-Light.ttf") format("truetype"), url("fonts/FuturaStd-Light.svg") format("svg");
}
@font-face {
    font-family: "momo";
    font-style: normal;
    font-weight: normal;
    src: url("fonts/momo-regular.eot?#iefix") format("embedded-opentype"), url("fonts/momo-regular.otf") format("woff"), url("fonts/momo-regular.ttf")format("truetype"), url("fonts/momo-regular.svg") format("svg"); 
}

@font-face {
    font-family: "momo";
    font-style: normal;
    font-weight: bold;
    src: url("fonts/momo-semibold.eot?#iefix") format("embedded-opentype"), url("fonts/momo-semibold.otf") format("woff"), url("fonts/momo-semibold.ttf")format("truetype"), url("fonts/momo-semibold.svg") format("svg"); 
}
h4, h5, h6,
h1, h2, h3 {margin-top: 0;}
ul, ol {margin: 0;}
p {margin: 0;}
.main-container label {font-weight: normal;}
.page .label {
	color: inherit;
	font-size: 100%;
	border-radius: 0;
	display: inline-block;
	text-align: left;
	white-space:normal;
	line-height: normal;
}

#custommenu .wp-custom-menu-popup {
    background:rgba(255, 255, 255, 0.97);
    position: fixed;
    right: 0;
    width: 100% !important;
	top:49px!important;

}
.parentMenu .bottom_img_menu {
    top: 37px;
}
.wp-menu-box {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}
#wp-nav-container a.sm_megamenu_head {
    color: #fff;
    font-family: gillsansmt;
    font-size: 16px;
    padding-bottom: 15px;
    padding-top: 12px;
    text-transform: uppercase;
}
#wp-nav-container .nav-menu {
    margin-left: 0;
    padding-left: 12px;
    padding-right: 12px;
}
.main-container .data-table .label {display: table-cell;}
.main-container .radio, .main-container .checkbox {display: inline-block; margin-top: 0;}
@media (min-width: 1200px) { 
   .container {
    max-width: 1200px;
    width: 1200px;
  }
}
@media only screen and (min-width: 768px) {
    span.toggle {display: none;}
    .footer-col-content,
    .block .block-content,
    .box-collateral-content {
      height: 100% !important;
      display: block !important;
      opacity: 1!important;
    }
}

/* david style */
.block-layered-nav .narrow-by-list .m-collapseable div.btn-expand-collapse {
    background: url("../images/show.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 13px;
    position: relative;

    width: 11px;
}
.block-layered-nav .narrow-by-list .m-expanded div.btn-expand-collapse {
    background: url("../images/re-show.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.block-layered-nav dt {
    padding-left: 1px;
}
.currently span {
    font-size: 12px;
    font-weight: normal;
}
.block-layered-nav .currently ol li {
    padding-left: 0;
}
.block-layered-nav .currently .btn-remove:before {
    font-size: 14px;
    font-weight: normal;
}
.block-layered-nav .currently ol li span {
    padding-left: 0;
}
.block-layered-nav .block-content .actions a {
    margin-left: 0;
}
.narrow-by-list .m-filterclear .btn-remove {
    display: none;
}


.sort-by {         
  padding: 0;
  position: relative; 
  z-index: 1;
  margin-top:5px;
}
/* .sort-by select
{
  border: 0 !important;.  
 -webkit-appearance: none;  
 -moz-appearance: none;  
}
.sort-by:hover {      border-color: #999;    }
.sort-by:before {
  background: url("../images/bg-dropdown.png") no-repeat right center;
  color: #333;
  content: ""; 
  height: 100%; 
  padding:  0 0  0 20px;
  position: absolute;
  right: -2px;
  top: -2px;
  z-index: -1;
}
.toolbar  .sort-by select {
  background-color: transparent;
  border:0;
  border-bottom: 1px solid #ccc;
  color: #555;
 -webkit-appearance: none;
  -moz-appearance: none;
 appearance: none;
 min-width:120px;
}
.sort-by select::-ms-expand { display: none;}
.sort-by select:focus { outline: none; }
.sort-by select option{
  padding: 2px;
}
:-moz-any(.sort-by):before {
  background-color: #fff;
  pointer-events: none;
  z-index: 1; 
}
 */
.sort-by label {
    float: left;
}
.new-sortby a {
    float: left;
    padding-left: 10px;
}
.new-sortby a.selected {
text-decoration: underline;
}
.new-sortby {
    float: left;
}

.block-free-shipping {
    background: #fbfbfb;
    padding-bottom: 3px;
    padding-top: 11px;
    text-align: center;
margin-bottom:3px;
box-shadow:0 0 3px rgba(0,0,0,0.1)
}
.block-free-shipping a {
    color: #000;
    font-size: 20px;
    margin-left: 2.5px;
    margin-right: 2.5px;
}

.header-container {
    height: 49px;
}

.cart-content .cart-content-header span {
    color: #000;
    font-size: 13px;

}
.cart-content-header .block-subtitle {
    display: none;
}
.block-cart-header .cart-content .cart-content-header {
    background: none repeat scroll 0 0 #fff;
    border: 0 none;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
}
#cart-sidebar {
/*     background: none repeat scroll 0 0 #fff;
    height: 270px;
    overflow: hidden; */
}

#cart-sidebar {
    background: none repeat scroll 0 0 #fff;
}
.block-cart-header .cart-content .actions {
    background: none repeat scroll 0 0 #fff;
    border: 0 none;
    margin-bottom: 15px;
    padding: 15px 15px 0;
}
.block-cart-header .actions button > span {
    background: none repeat scroll 0 0 #000;
    text-align: center;
    width: 100%;
}
.block-cart-header .actions button {
    width: 48%;
}
.block-cart-header .actions button > span span {
    padding: 0;
    width: 100%;
}
.block-cart-header .actions button:last-child {
    float: right !important;
    margin: 0;
}
.block-cart-header .ajaxcartpro-box-show {
    display: block !important;
}
#ajaxcartpro-add-confirm{
	display:none;
}
#acp-overlay{
	display:none!important;
}

#products-tabs .slider li a.product-name {
	display:none;
}
.header a.logo {
    border-right: 1px solid #777;
    padding-right:30px; 

}
#wp-nav-container {
    border-right: 1px solid #777;
    height: 49px;
    margin-left: 8px;
    padding-right: 8px;
    width: auto;
}
#wp-nav-container .parentMenu a {
    color: #fff;
}
.blog-container a {
    color: #fff;
}
.blog-container a:hover {
border-bottom:3px solid #ffacac;
}
.header .blog-container {
    border-right: 1px solid #777;
    height: 49px;
    line-height: 50px;
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    width: auto;
}
#search_mini_form {
    padding-left: 20px;
}
.block-cart-header:hover .cart-content {
    display: block!important;
}
#ajaxcartpro-remove-confirm {
    display: none;
}
.product-box-customs {
    overflow: hidden;
	max-height:800px;
}
.product-box-customs {
    background: url("../images/m-wait.gif") no-repeat scroll 16% 15% rgba(0, 0, 0, 0);
}
.product-viewed h3 {
    color: #bbb;
    font-size: 16px;
    margin: 30px auto 35px;
    text-align: center;
    text-transform: uppercase;
letter-spacing:0.15em;
}
.product-viewed h3 span {
    background: none repeat scroll 0 0 #fff;
    padding-left: 2px;
    padding-right: 2px;
    position: relative;
    top: 9px;
font-size:22px;
}
.footer {
font-size: 10px;
}
.footer .foo-box {
    margin-bottom: 8px;
    text-align: center;
}
.footer .foo-box img {
    margin:0 8px;
}
.footer .foo-box {
    color: #666;
text-transform:uppercase;
}
.footer .foo-box a {
    color: #666;
}
.footer .foo-box a:hover {
    color: #000;
}
.footer .block-subscribe .block-title span {
    color: #666;
}
.footer .block-subscribe {
    text-align: center;
}
.footer #newsletter-validate-detail .input-box input {
    width: 80%;
}
.footer-privacy {
    display: none;
}
.foo-box {
    clear: both;
    text-align: center;
    width: 100%;
}
.product-tabs
 {
border-top:1px solid #666;
    margin-left:5px;
}
.wrapper .footer-container {
    background: none repeat scroll 0 0 #fff;
	box-shadow:0px 0px 3px rgba(0,0,0,0.2);
    padding-top: 15px;
}
#newsletter-validate-detail input {
    width: 64%;
}
.footer .block-content span {
    padding-right: 10px;
    text-transform: uppercase;
}
.footer #newsletter-validate-detail .block-content button {
    background: none repeat scroll 0 0 #ddd;
    color:#777;
    position: relative;
    text-transform: uppercase;
}
.footer #newsletter-validate-detail .block-content button:hover {
opacity:0.5;
}
.foo-links a {
    padding-left: 10px;
    padding-right: 10px;
}
.footer .foo-box.foo-links {
    margin-bottom: 8px;
}

.social-media img:hover {
    opacity: 0.7;
}
#fixed-search {
    background: none repeat scroll 0 0 #000;
    height: 49px;
    position: absolute;
    width: 100%;
    z-index: 9999;
}
#fixed-search input {
    border: 0 none;
    float: left;
    height: 38px;
    width: 89%;
}
#fixed-search #search_mini_form {
    width: 100%;
}
#fixed-search button {
    position: relative;
    top: 11px;
}
#block-related li {
    margin-left:1.2%;
    margin-right: 0;
    padding-top: 0;
    width: 24.1%;
}
#block-related li:first-child {
margin-left: 0;
}
#block-related li:hover img.product-image-small {
    display: block;
}
#block-related li img.product-image-small {
    display: none;
}
#block-related li:hover img.product-image-base {
    display: none;
}
#block-related .product-name {
    display: none;
}
.product-related h3 {
text-align: left;
text-transform: uppercase;
margin: 3em auto 0.5em auto;
letter-spacing: 0.15em;
color:#999;
background:url('../images/titleb.png') repeat-x scroll 0 rgba(0,0,0,0);
}
.narrow-by-list > dt.SHOP {
    display: none;
}
.block-layered-nav .category-title {
    display: none;
}
#m-tree-left_category ul {
    display: block !important;
    margin-left: 8px;
}
#m-tree-left_category .m-collapsed > .m-tree-item {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    padding: 0;
}
#m-tree-left_category .m-expanded > .m-tree-item {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    padding: 0;
}
#m-tree-left_category .m-tree-item {
    padding-left: 0;
}
#custommenu .column {
    float: left;
}
.more-form {
    clear: both;
letter-spacing:0.1em;
    text-align: center;
font-size:10px;
margin:2em 0;
font-family:gillsansmt;
}
element.style {
}
.more-form .title {
margin-right: 2em;
}
.more-form a.first {
    display: none;
}
.more-form span.first {
    display: none;
}
.more-form span:last-child {
    display: none;
}
.more-form a {
    font-size: 10px;
    text-transform: uppercase;
    color: #000;
margin: 0 5px 0 5px;
}
.more-form span.io {
    font-size: 12px;
    color: #000;
    position: relative;
font-family:serif;
}
.more-form a:hover {
opacity:0.3;
}
.catalog-product-view .col1-layout .container {
    max-width: 100%;
    width: 100%;
}
.catalog-product-view .breadcrumbs {
    margin-left: auto;
    margin-right: auto;
    max-width: 1180px;
font-family:gillsansmt;
}
.catalog-product-view .product-view {
    margin-left: auto;
    margin-right: auto;
    max-width: 1180px;
}
#products-tabs {
    margin-left: auto;
    margin-right: auto;
    max-width: 1180px;
}
.viewed-line {
   border-bottom:1px solid #eee;
    margin-left: -16px;
    width: 304%;
position:absolute;
left:-50%;
}

.category-products li.item.hover .product-image-small {
    display: block!important;
}
.no-slider .jcarousel-prev {
    display: none!important;
}
.no-slider .jcarousel-next {
    display: none!important;
}
.swatchesContainer li.swatchContainer img {
    font-size: 15px;
    line-height: 30px;
    padding: 0;
font-family:futurastd-light;
color:#333;
    text-align: center;
}
/* #custommenu-mobile{
	display:none;
}
#custommenu{
	display:block!important;
} */
.skip-account{
	display:none;
}
.account-content{
	display:none;
}
.skip-account .icon {
    background: url("../images/account.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height: 23px;
    text-indent: -999em;
    width: 27px;
	cursor: pointer;
}
.skip-account:hover .account-content {
    display: block;
}
.skip-account .account-content {
    background: none repeat scroll 0 0 #000;
    left: 0;
    min-width: 200px;
    position: absolute;
    top: 49px;
}
.skip-account .account-content li {
    clear: both;
    text-align: left;
    width: 100%;
}
.skip-account .account-content li a {
    color: #fff;
    font-size: 12px;
    text-align: left;
    text-transform: uppercase;
}
.skip-account .account-content ul {
    float: left;
    margin: 0;
    padding: 10px;
}
.skip-account .account-content li a:hover {
    text-decoration: underline;
}
.block-free-shipping .container {
    padding: 0;
}
.block-cart-header .block-content .block-content {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
#sidebar-nav-menu span.plus-right {
    display: none !important;
}
#sidebar-nav-menu li.level0 > a {
    display: none;
}
#sidebar-nav .block-title {
    display: block;
    margin-bottom: 0;
}
#sidebar-nav div.block-content {
    display: none;
    padding: 0;
}
#sidebar-nav .block-content ul.level0 {
    margin: 0 !important;
    padding: 0 !important;
}
#sidebar-nav-menu a {
    color: #000;
}
#sidebar-nav .block-content ul.level1 {
    margin-left: 0 !important;
padding: 0 0 0 1em !important;
line-height: 2.5em;
text-transform:none;
}
.block-layered-nav dd.SHOP {
    display: none !important;
}
div ul.content h1{
	font-size:14px;
	padding-bottom:20px;
}
#sidebar-nav{
	margin:7px 0 0 0!important;
}
.customer-service-tabs ul.content li{
	display:none;
background: rgba(255,255,255,0.5);
padding: 0 20px;
margin-top:3px;
box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
}
.customer-service-tabs ul.content li li {
    padding: 0;
}
.customer-service-tabs > ul.content > li {
    padding-top: 20px;
}
#block-related li .product-name {
    display: block;
color:#333;
margin-top:5px;
font-family:gillsansmt;
}
#block-related li .product-name:hover {
text-decoration:underline;
}
.customer-service-tabs ul.content {
    float: right;
    margin: 0;
    width: 64%;
}
div ul.custom-servis-ul {
    width: 34%;
}
.padding-s > p {
    display: none;
}
#webform_1 li {
    display: block!important;
}
.header .cart-indent {
    background: none repeat scroll 0 0 #fff;
border: 1px solid #eee;
-webkit-box-shadow:  1px 1px 3px  rgba(0,0,0,0.2);
-moz-box-shadow: 1px 1px 3px  rgba(0,0,0,0.2);
box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
.cart-content .cart-indent .jcarousel-container {
    height: 284px;
    padding: 0;
    width: 100%;
}
.cart-content .cart-indent .jcarousel-clip-vertical {
    height: 264px;
    padding-top: 24px;
    width: 100%;
}
.block-cart .cart-indent .jcarousel-prev {
    background-color: #000;
    background-image: url("../images/nav-top.png");
    background-position: center 3px;
    border: 1px solid #000;
    height: 20px;
    left: 2%;
    text-align: center;
    top: 0;
    width: 96.6%;
}
.block-cart .cart-indent .jcarousel-next {
    background-color: #000;
    background-image: url("../images/nav-bottom.png");
    background-position: center 0;
    border: 1px solid #000;
    bottom: 0;
    height: 20px;
    left: 2%;
    width: 96.6%;
}
.header_top .block-cart-header .mini-products-list li.item {
    border: 1px solid #bbb;
    margin: 4px;
    padding: 4px !important;
    width: 96.5%;
font-family:momo,arial,gillsansmt;
font-size:12px;
line-height:15px;
}
.block-cart .cart-indent .jcarousel-prev:hover {
    background-color: #fff;
    background-position: center -17px;
    border: 1px solid #e1e1e1;
transition: all 0.4s;
-webkit-transition:all 0.4s;
-moz-transition:all 0.4s;
}
.block-cart .cart-indent .jcarousel-next:hover {
    background-color: #fff;
    background-position: center -16px;
    border: 1px solid #e1e1e1;
transition: all 0.4s;
-webkit-transition:all 0.4s;
-moz-transition:all 0.4s;
}
.block-cart-header .block-content .actions button.button {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    margin: 0;
    width: 100%;
}
.block-content .actions button.button span {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #000;
font-size: 13px;
letter-spacing: 0.15em;
font-weight: normal;
height: 32px;
line-height: 32px;
    text-transform: uppercase;
}
.block-content .actions button.button:hover span {
    background: none repeat scroll 0 0 #000;
    color: #fff;
transition: all 0.4s;
-webkit-transition:all 0.4s;
-moz-transition:all 0.4s;
}

.free-delivery {
color: #000;
text-align: center;
margin: 40px 0 5px 0;
line-height: 32px;
font-weight: bold;
font-family:oswald;
font-size:16px;
display:none;
}
#cart-sidebar {
    background: none repeat scroll 0 0 #fff;
    min-height: 1200px;
}
.btn-edit {
    display: none !important;
}
.cms-customer-service .page-title h1 {
    font-family: futurastd-light;
    font-size: 35px;
    text-transform: uppercase;
}
.cms-customer-service .std h3 strong {
    font-size: 20px;
letter-spacing:0.1em;
}
.cms-customer-service .std a {
    font-size: 13px;
line-height:2.5em;
color: #555;
}
.cms-customer-service .std a:hover {
text-decoration:underline;
}

.cart-indent .product-name a {
    color: #000;
    font-size: 12px;
    text-transform: capitalize;
letter-spacing:0.02em;
}
.block-content .summary a {
    color: #fff;
}
.product-details dl.item-options {
    margin-bottom: 0;
}
.product-details ul.item-options {
    margin: 0;
}

.block-cart-header .mini-products-list .product-details{
	margin-top:-10px;
}
.block-cart-header .btn-remove {
    background: url("../images/removeb.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 15px;
    margin-right: 10px !important;
    margin-top: 12px !important;
    width: 15px;
}

.block-cart-header .btn-remove:before {
    content: none;
}
.account-login .registered-users .buttons-set button.button{
	width:100%;
}
.owl-item span.name-h2 {
    font-family: futurastd-light;
    font-size: 15px;
    text-transform: uppercase;
color:#333;
}
.owl-item span.icon-c {
    font-size: 14px;
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
    top: -3px;
}
.owl-item span.box-con {
    color: #000;
    font-size: 13px;
    position: relative;
top:-1px;

font-family:futurastd-light;
}
.owl-item a.set-link {
    font-size: 12px;
    text-decoration: underline;
}
.owl-item a.set-link:hover {
    text-decoration: none;
}
.contacts-index-index .form-list li {
    clear: both;
    float: none;
    width: 100%;
}
.contacts-index-index .form-list li div.field {
    clear: both;
    width: 100%;
}
.contacts-index-index #webform_1 .fieldset {
    margin-left: auto;
    margin-right: auto;
    width: 48%;
}
.contacts-index-index #webform_1 .input-box {
    width: 100%;
}
.contacts-index-index #webform_1 .input-box input {
    width: 100%;
}
.contacts-index-index #webform_1 .input-box textarea {
    width: 100%;
}
#tcheckout-progress {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    width: 100%;
}
#tcheckout-progress li {
    padding-top: 0;
}
#tcheckout-container .tcheckout-step {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    width: 100%;
color:#000;
}
#tcheckout-container .tcheckout-step-wrap {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
font-size:11px;
font-family:arial, gillsansmt;
}
#tcheckout-progress ol {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
#tcheckout-container .tcheckout-step-wrap .field {
    width: 49%;
}
#tcheckout-container .input-box {
    width: 100%;
}
#tcheckout-container .input-box input {
    width: 100%;
border:1px solid #777;
font-family: arial;
font-size: 11px;
color:#000;
padding:6px 6px;
}
.tcheckout-step-wrap .field:first-child {
margin-right:2%;
}
#tinycontent input {
    float: left;
    width: 100%;
}
#tinycontent .input-box {
    width: 100%;
}
#elogin-buttons .right {
    margin-top: 10px;
    width: 100%;
}
#elogin-buttons .right .button:last-child {
    float: right;
}
#elogin-buttons .right .button:first-child {
    float: left;
}
.oops-left {
    background: none repeat scroll 0 0 #000;
    color: #fff;
    float: left;
    padding: 2% 2% 31px;
    width: 50%;
}
.opps-right {
    float: left;
    width: 50%;
}
.opps-right img {
    max-width: 100%;
}
.oops-left h1 {
    color: #fff;
    padding-top: 45px;
    text-transform: uppercase;
}
.oops-left h3 {
    font-size: 20px;
    padding-bottom: 10px;
    padding-left: 11%;
    padding-top: 20px;
    text-transform: uppercase;
}
.oops-left a {
    color: #fff;
    text-decoration: underline;
}
.oops-left a:hover {
    color: #fff;
}
.std .oops-left ul.disc {
    clear: both;
    padding-bottom: 15px;
    padding-left: 13%;
}
.std .oops-left dd {
    padding-left: 11%;
}
.tab-textbox {
    display: none;
}
/* .more-form span.second.io {
    display: none;
} */
.header h1.logo a.logo {
    background: url("../images/logo.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 49px;
    width: 152px;
}
.cms-page-view .main-container {
    background: url('../images/bg.jpg') no-repeat fixed;
}
.cms-page-view .page-title h1 {
}
.customer-account-create .main-container {
    background: url('../images/bg.jpg') no-repeat fixed !important;
}
.customer-account-login .main-container {
    background: url('../images/bg.jpg') no-repeat fixed !important;
}
#div_share_prod .email-friend a {
    background-image: url("../images/email-icon.jpg");
    background-size: 100% auto;
height: 12px;
width: 16px;
margin-top: 2px;

}
.cms-page-view.cms-about-momokrom .main-container {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
}
.cms-page-view .privacy-tabs .tab-title {
border-bottom: none;
background: rgba(255,255,255,0.5);
padding: 20px;
margin-top: 3px;
line-height: 20px;
}

.cms-page-view .privacy-tabs .tab-textbox {
background: rgba(255,255,255,0.5);
padding: 0 35px 10px 20px;
font-size:12px;
margin: 0 0 0 0;
}
.cms-page-view .breadcrumbs li strong {color:#000 !important;}
.cms-page-view .breadcrumbs li a {color:#000 !important;}
.cms-page-view .breadcrumbs li span {color:#000 !important;}

.customer-service-tabs .tab-textbox {background:rgba(255,255,255,0.5); 
margin: 0;
padding: 0 0 5px 10px;}

.account-login .new-users-wrapper button.button > span, .page-sitemap .links a {
background: none;}
li.contact-content > p {
    display: none;
}
.customer-service-tabs .content > li {
    padding-bottom: 15px !important;
}
.customer-service-tabs .content > li .fields {
    background: none;
    box-shadow: none;
}
/* .catalogsearch-result-index #products-tabs {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
} */

/* .catalogsearch-result-index .col-main {
    position: unset;
} */
.mb-search-result .banner-link {
    margin-top: 30px;
    text-align: center;
}
.mb-search-result .note-msg {
    font-size: 24px !important;
    text-align: center;
line-height:34px;
    border: 0!important;
    border-bottom: 1px solid #c7c7c7!important;
border-top:2px solid #eee !important;
}
.mb-search-result .note-msg span {
    color: #666;
    font-family: arial;
    font-size: 12px!important;
}
.no-slider .cart-content .cart-indent .jcarousel-container {
    height: 275px;
}
.no-slider .cart-indent .jcarousel-clip-vertical {
    height: 275px;
    padding-bottom: 0;
    padding-top: 0;
}
#shopping-cart-table {
    width: 100%;
}
.cart div.cart-collaterals {
    float: right;
    padding-top: 0;
    width: 29%;
}
.cart #cart-product-item {
    float: left;
    width: 68%;
}
.cart .cart-collaterals div.col2-set {
    width: 100%;
}
.cart .cart-collaterals div.totals {
    width: 100%;
}
.cart .cart-collaterals div.col2-set div.col-2 {
    width: 100%;
}
.cart-collaterals div.input-box {
    float: left;
    width: 65%;
}
.cart .discount-form div.buttons-set {
    float: right;
    padding: 0;
    width: 32%;
}
.discount-form div.buttons-set button span {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #000;
    font-size: 11px;
    line-height: 28px;
padding:0;
}
.discount-form div.buttons-set button span:hover {
background: #000;
color: #fff;
transition: 0.2s all linear;
}
.cart .discount-form div.buttons-set button {
    margin: 0 !important;
}
#shopping-cart-table .cart-name {
    width: 70%;
}
#shopping-cart-table .cart-option {
    width: 20%;
}
div.td-img {
    float: left;
}
.product-name {
    float: center;
}
.cart .btn-continue {
    float: left;
}
.data-table tfoot td {
background: url('../images/back.png') no-repeat 0 rgba(0,0,0,0);
    border: 0 none;
    padding-left: 0;
    padding-right: 0;
}
.cart .btn-continue span {
    background: rgba(0,0,0,0);
    color: #000;
font-size:14px;
border:none;
}
.cart .btn-continue span:hover {
border:none;
text-decoration:underline;
transition:none;
}
.main .cart .btn-remove {
font-size: 13px;
text-indent: unset;
text-indent: -5555px;
background: url('../images/removeb.png') no-repeat scroll left center rgba(0, 0, 0, 0);
}
.main .cart .btn-remove:hover {
opacity:0.5;
}
.cart .btn-remove:before {
    content: none;
}
.discount-form label {
    display: none !important;
}
.cart .discount {
    width: 100%;
}
.cart-msg{border-bottom:1px solid #ddd; padding-bottom:5px;}
.cart-msg p {
    text-align: center;
    font-family: arial;
    font-size: 11px;
}
.cart-msg p.reserve {
    font-weight: bold;
}

.search-banner {
margin-bottom: 50px;
}
.cart .page-title {
    text-align: center;
margin: 15px 0 0 0
}
.cart .page-title h1 {
    float: none;
    font-family: FuturaStd-light;
    text-align: center;

}
.cart .product-name {
    float: left;
    padding: 5px 0 0 10px;
}
.cart .btn-continue > span {

}
.cart .discount .buttons-set button.button span {
    text-align: center;
    width: 100%;
}
.cart .discount .buttons-set button.button {
    text-align: center;
    width: 100%;
}
#shopping-cart-table .item-options {
    margin-bottom: 0;
    padding-left: 0;
}
.cart .product-name a {
    clear: both;
    float: left;
    margin-bottom: 5px;
    width: 100%;
font-family:momo;
color:#000;
}
.main ul.messages {
    left: 0;
    position: fixed;
    right: 0;
    top: 49px;
    width: 100%;
}
.main ul.messages ul {
    margin-left: auto !important;
    margin-right: auto !important;
    max-width: 1180px;
}
.main ul.messages li.success-msg {
    border: 0 none !important;
}
.main ul.messages > li {
    background-image: none;
    margin: 0;
    padding: 11px 0 10px;
}
.main ul.messages > li li {
    margin: 0;
}
.messages .success-msg > ul {
    background-position: 0 3px;
    background-repeat: no-repeat;
}
.main ul.messages ul li.first {
    padding-left: 10px;
}
.welcome-msg {
    width: 100%;
}
.welcome-msg p {
    color: #000;
}
.padding-s .my-account {
    overflow-x: unset;
}
.box-account .box-head {
    clear: both;
}

.mb-search-result .products-grid .add-to-links
{
right: 9%!important;
}

th.a-center.cart-price {
float: right;
}
/* #shopping-cart-totals-table tr.last {
    display: none;
} */
#sidebar-nav-menu li {
    list-style: none!important;
}
#sidebar-nav-menu li.level1 ul {
    display: none;
}
#sidebar-nav-menu li.level1.active ul{
    display: block;
}
/* .checkout-onepage-index .header-container {
    display: none;
}
.checkout-onepage-index .block-free-shipping {
    display: none;
}
.checkout-onepage-index .footer-container {
    display: none;
} */

.checkout-header {
    margin-bottom:3%;
    text-align: center;
    width: 100%;
}
.checkout-header img {
opacity:0.7;
}
.checkout-header img:hover
{
opacity:1;
transition: all 0.2s;
-webkit-transition:all 0.2s;
-moz-transition:all 0.2s;
}
.address-2 {
    display: none;
}
#shipping-buttons-container .required {
    display: none;
}
#tcheckout-cart .block-content {
    display: block;
    float: left;
    height: auto;
    min-width: 0;
    padding-left: 0;
    position: unset;
    right: 0;
top:5px !important;
    width: 100%;
}
#tcheckout-progress {
    clear: both;
    float: left;
    width: 80%;
position:relative;
left:10%;
color:#000;
}
#tcheckout-container {
    clear: both;
    float: left;
    width:60%;
position:relative;
left:20%;
}
.col-main {
    position: relative;
}
#tcheckout-cart {
    float: right;
    max-height: 350px;
    overflow: auto;
    position: fixed;
    right: 6%;
    top: 35%;
    width: 17%;
}
#tcheckout-cart .product-image {
    display: none;
}
#tcheckout-cart .product-details {
    margin: 0;
}
#tcheckout-cart .product-name {
    margin: 0;
    width: 100% !important;
}
#tcheckout-cart ul {
    min-height: auto;
    padding-left: 0;
}
#tcheckout-cart .product-control-buttons {
    display: none;
}
#tcheckout-cart .cart-content-header {
    bottom: 0;
    position: absolute;
display:block;
}
#tcheckout-cart .block-cart-header {
    float: left;
    padding-right: 0;
    position: unset;
    width: 100%;
}
#tcheckout-cart li.item {
    padding:1px;
margin-bottom:5px;
}
#tcheckout-cart #cart-sidebar {
    float: left;
    width: 100%;
font-family:arial, gillsansmt;
font-size:10px;
line-height:15px;
min-height: 0;
}
#tcheckout-cart .summary {
    display: none;
}
#tcheckout-cart .subtotal {
    border-top: 1px solid #ddd;
    float: left;
    padding-top: 8px;
    text-align: left;
}
#tcheckout-cart h2.title {
    border-bottom: 1px solid #999;
    font-family: arial;
    font-size: 10px;
    text-transform: uppercase;
padding:0 1px 8px 0;
color:#000;
}
#tcheckout-container .subscribe-newsletter {
    bottom: 6em;
    position: absolute;
}

#tcheckout-save-btn {
    border: 0px;
background:none;
    color: #000;
float:right;
font-family:arial;
font-size:11px;
text-decoration:underline;
text-transform:uppercase;
}
#tcheckout-save-btn:hover {
 opacity:0.3;
}
#tcheckout-container .back-link a{
color: black;
padding: 0;
float: left;
font-family: arial;
font-size: 11px;
text-transform:uppercase;
text-decoration:underline;
}
.back-link a:hover {
opacity:0.3;
}

#checkout-shipping-method-load dd li span {
    float: right;
}
#checkout-shipping-method-load  dt.selected {
    background: none repeat scroll 0 0 #e3e3e3;
}
#checkout-shipping-method-load  dd.selected {
    background: none repeat scroll 0 0 #e3e3e3;
}
strong#tcheckout-please-wait {
    background: rgba(255,255,255,0.8);
    font-size: 0;
    height: 100%;
    left: 0;
    position: fixed;
    text-indent: -9999em;
    top: 0;
    width: 100%;
    z-index: 999;
}

element.style {
    opacity: 1;
    width: 489px;
    z-index: 2;
}
*:before, *:after {
    box-sizing: border-box;
}
*:before, *:after {
    box-sizing: border-box;
}
span.slashc-img-zoom-pan img {
float: right;
    right: 0px;
}
span.slashc-img-zoom-pan img.big-img {
    display: none;
}
span.slashc-img-zoom-pan:hover img {
    display: block!important;
}
#tcheckout-cart .cart-indent {
    float: left;
    width: 100%;
}
strong#tcheckout-please-wait img {
    position: fixed;
    top: 45%;
display:none;
}
#checkout-shipping-method-load dd {
    float: left;
    padding: 8px 10px 5px 15px;
    width: 100%;
}
#checkout-shipping-method-load dt {
    float: left;
    width: 100%;
}
.style-sku.tc{
text-align:center;
margin:2em 0 1em;
font-family:gillsansmt;
}

/*left top*/
.block-layered-nav .category-title {
  background: none;
  border-bottom: medium none;
  font-weight: bold;
  margin-bottom: 0;
  text-align: left;
}
.block-layered-nav .category-title h1 {
  font-weight: bold;
  padding-bottom: 5px;
}
.block-layered-nav .category-title.active {
  margin-bottom: 10px;
  border-bottom: 1px solid #ececec;
}
.block-layered-nav .m-filter-group {
  display: none;
}
.block-layered-nav .m_left_category_filter {
  border-top: none;
}
.block-layered-nav dd {

}
.block-layered-nav dd li:before {
  content: none;
}
/*pages*/
.toolbar .pager {
  margin-top: 0;
  padding-bottom: 0px;
}
.toolbar .pager .pages {
    float: left;
    margin-left: 10px;
    margin-right: 0;
    width: 65%;
}
.toolbar .pager .amount {
  display: none;
}
.toolbar .sorter {
  display: none;
  /*        float: right;
        margin-right: 300px;
        margin-top: -44px;*/
}

/*product image*/
.products-grid .product-image {
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #ffffff;
  height: 480px;
  width: 336px;
}
.products-grid li.item {
  margin-right: 0px;
  padding-left: 15px;
  padding-right: 5px;
}
.products-grid .item:hover .product-image .product-image-small {
  margin-left: auto;
  margin-right: auto;
}
.products-grid li.item:hover .add-to-links {
    display: block;
}
/* .products-grid > li:hover .add-to-links {
  left: 55px;
  top: -460px;
} */

.tc {
  text-align: center;
}
/*product detail page*/
.col1-layout .product-view .product-name h1 {
  font-size: 32px;
  line-height: 36px;
}
.col1-layout .product-view .product-shop .product-options {
  text-align: center;
}
.col1-layout .product-view .product-shop .swatchContainer {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}
.col1-layout .product-view .product-shop .add-to-cart {
  width: 100%;
  text-align:center;
}
.col1-layout .product-view .product-shop .add-to-cart button.button {
  float: none;
  margin-left: auto;
  margin-right: auto;
margin-top:10px;
}
.col1-layout .product-view .product-img-box {
  text-align: center;
  width: 68%;
}
.col1-layout .product-view .add-to-links {
  border-bottom: none;
  border-top: none;
}
.col1-layout .product-view .price-box {
  text-align: center;
}
.col1-layout .product-view .add-to-links li .link-wishlist {
  margin-left: auto;
  margin-right: auto;
}
.col1-layout .product-view .link-wishlist:hover {
  transform: scale(1.1);
}
.col1-layout .product-view .product-options-bottom .add-to-links {
  display: none;
}
.col1-layout .product-view .product-options {
  border-top: none;
}
/*zoom image*/
#preview .flex-next {
  right: 10px !important;
}
.tcheckout-step-wrap .billing-info {
    display: none;
}
.box-billing-address {
position: fixed;
top: 10%;
font-family: arial;
font-size: 10px;
width: 17%;
text-transform: capitalize;
line-height:15px;
color:#000;
}
.box-billing-address .billing-address{
	display:none;
}
.tcheckout-step-wrap #checkout-review-load {
    display: none;
}
.box-billing-address .billing-info li {
    clear: both;
    margin: 0;
    width: 100%;
padding:1px;
}
.box-billing-address h2 {
font-size: 10px;
font-family: arial;
padding: 8px 0px;
border-bottom: 1px solid #999;
margin: 10px 0;
}
.box-total-address {
bottom: 25%;
position: fixed;
font-size: 10px;
font-family: arial;
line-height: 15px;
width: 17%;
border-top: 1px solid #999;
padding: 8px 0;
margin-top: 10px;
}
.box-total-address colgroup {
    display: none;
}
.box-total-address thead {
    display: none;
}
.box-total-address tbody {
    display: none;
}
.box-total-address #checkout-review-table tfoot td {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    float: left;
    padding: 0;
}
.box-total-address #checkout-review-table tr {
    border-bottom:0 none;
}
.box-total-address #checkout-review-table tfoot tr.last {
    border: 0 none;
}
.cart-content .got-shipping {
    padding-bottom: 0!important;
}
#box-cart {
    float: left;
    height:18em;
    position: relative;
    width: 100%;
}
.col-left .block-cart-header {
    display: none;
}
.fieldcompany {
display: none;
}
ul#payment_form_paypal_express {
display: none;
}
.box-billing-address .billing-info li.shipping-method {
display: none!important;
}
li#paypal_direct_cc_type_exp_div {
width: 50%;
}
li#paypal_direct_cc_type_ccv_div {
width: 50%;
}
*{display: none;}

/* end david */