.jcarousel-skin-tango .jcarousel-container {
}
.jcarousel-skin-tango .jcarousel-direction-rtl {
    direction: rtl;
}
.jcarousel-skin-tango .jcarousel-container-horizontal {
    height: 220px;
}
.jcarousel-skin-tango .jcarousel-container-vertical {
    height: 196px;
    padding: 40px 20px;
    width: 156px;
}
.jcarousel-skin-tango .jcarousel-clip {
    overflow: hidden;
}
.jcarousel-skin-tango .jcarousel-clip-horizontal {
    height: auto;
    margin-left: 30px;
}
.jcarousel-skin-tango .jcarousel-clip-vertical {
}
.jcarousel-skin-tango .jcarousel-item {
    float: right !important;
    height: auto;
    padding: 0 !important;
    width: 134.8px;
}
#mycarousel2 {
    float: left;
}
#products-tabs .enough li.item {
    float: left !important;
}
.jcarousel-skin-tango .jcarousel-item-horizontal {
    margin-left: 0;
    margin-right: 6px;
}
.jcarousel-skin-tango .jcarousel-clip {
    max-width: 1122px;
}
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
    margin-left: 10px;
    margin-right: 0;
}
.jcarousel-skin-tango .jcarousel-item-vertical {
    margin-bottom: 10px;
}
.jcarousel-skin-tango .jcarousel-item-placeholder {
    background: none repeat scroll 0 0 #fff;
    color: #000;
}
.jcarousel-skin-tango .jcarousel-next-horizontal {
    background: url("../images/arrw.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    cursor: pointer;
    height: 35px;
    position: absolute;
    right: 0;
    top: 80px;
    width: 21px;
}
.jcarousel-skin-tango .jcarousel-next-horizontal:hover {
    opacity: 0.5;
}
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-next-horizontal {
    background-image: url("prev-horizontal.png");
    left: 5px;
    right: auto;
}
.jcarousel-skin-tango .jcarousel-next-horizontal:hover, .jcarousel-skin-tango .jcarousel-next-horizontal:focus {
}
.jcarousel-skin-tango .jcarousel-next-horizontal:active {
}
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal, .jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover, .jcarousel-skin-tango .jcarousel-next-disabled-horizontal:focus, .jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
    background-position: 0 0;
    cursor: default;
}
.jcarousel-skin-tango .jcarousel-prev-horizontal {
    background: url("../images/arrw.png") no-repeat scroll 0 -38px rgba(0, 0, 0, 0) !important;
    cursor: pointer;
    height: 35px;
    left: -1px;
    position: absolute;
    top: 80px;
    width: 21px;
}
.jcarousel-skin-tango .jcarousel-prev-horizontal:hover {
    opacity: 0.5;
}
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    background-image: url("next-horizontal.png");
    left: auto;
    right: 5px;
}
.jcarousel-skin-tango .jcarousel-prev-horizontal:hover, .jcarousel-skin-tango .jcarousel-prev-horizontal:focus {
}
.jcarousel-skin-tango .jcarousel-prev-horizontal:active {
}
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal, .jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover, .jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:focus, .jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
    background-position: 0 0;
    cursor: default;
}
.jcarousel-skin-tango .jcarousel-next-vertical {
    background: url("next-vertical.png") no-repeat scroll 0 0 transparent;
    bottom: 5px;
    cursor: pointer;
    height: 32px;
    left: 70px;
    position: absolute;
    width: 32px;
}
.jcarousel-skin-tango .jcarousel-next-vertical:hover, .jcarousel-skin-tango .jcarousel-next-vertical:focus {
    background-position: 0 -32px;
}
.jcarousel-skin-tango .jcarousel-next-vertical:active {
    background-position: 0 -64px;
}
.jcarousel-skin-tango .jcarousel-next-disabled-vertical, .jcarousel-skin-tango .jcarousel-next-disabled-vertical:hover, .jcarousel-skin-tango .jcarousel-next-disabled-vertical:focus, .jcarousel-skin-tango .jcarousel-next-disabled-vertical:active {
    background-position: 0 -96px;
    cursor: default;
}
.jcarousel-skin-tango .jcarousel-prev-vertical {
    background: url("prev-vertical.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 32px;
    left: 70px;
    position: absolute;
    top: 5px;
    width: 32px;
}
.jcarousel-skin-tango .jcarousel-prev-vertical:hover, .jcarousel-skin-tango .jcarousel-prev-vertical:focus {
    background-position: 0 -32px;
}
.jcarousel-skin-tango .jcarousel-prev-vertical:active {
    background-position: 0 -64px;
}
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical, .jcarousel-skin-tango .jcarousel-prev-disabled-vertical:hover, .jcarousel-skin-tango .jcarousel-prev-disabled-vertical:focus, .jcarousel-skin-tango .jcarousel-prev-disabled-vertical:active {
    background-position: 0 -96px;
    cursor: default;
}
.product-shop .product-options {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    margin-top: 1em;
}
.product-shop .product-options-bottom {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    padding: 0 0 30px;
}
.product-options-bottom .price-box {
    display: none !important;
}
#product-options-wrapper > p.required {
    display: none;
}
.product-options-bottom .add-to-cart {
    border: 0 none;
    float: left;
    width: auto;
}
.product-options-bottom .add-to-links {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    clear: none;
    float: left;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 30px;
    padding-top: 0;
    width: auto;
}
.product-shop .add-to-cart button.button > span span {
    font-weight: normal;
    height: 39px;
    letter-spacing: 0.3em;
    padding-left: 50px;
    padding-right: 50px;
    text-transform: uppercase;
}
.product-shop .add-to-cart button > span {
    border: 1px solid #000;
    padding-left: 30px;
    padding-right: 30px;
}
.product-shop .add-to-cart button.button:hover span span {
    color: #000;
    transition: all 0.2s linear 0s;
}
.product-shop .add-to-cart button.button:hover > span {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #000;
    color: #000;
    transition: all 0.2s linear 0s;
}
.product-view .add-to-links li a {
    background: url("../images/bg-wilish.png") no-repeat scroll 50% 50% rgba(0, 0, 0, 0);
    display: block;
    height: 33px;
    margin-left: auto;
    margin-right: auto;
    text-indent: -999em;
    width: 33px;
}
.product-view .add-to-links li a:hover {
    transform: scale(1.1, 1.1);
}
.product-view .product-shop .add-to-links li .link-wishlist:before {
    content: none;
}
.product-shop .add-to-cart button.button {
    margin-left: 0;
}
.product-options .size_guid {
    color: #666;
    cursor: pointer;
    font-size: 10px;
    font-weight: normal;
    margin-left: 5px;
    position: relative;
    text-decoration: underline;
}
.bg-shadow {
    background: none repeat scroll 0 0 #fff;
    height: 100%;
    opacity: 0.9;
    position: fixed;
    width: 100%;
    z-index: 99999;
}
.size-guide-content {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #eee;
    display: block;
    left: 20%;
    padding: 18px;
    position: fixed;
    top: 18%;
    width: 60%;
    z-index: 99999;
height: 470px!important;
}
.box-side-guide ul > li {
    float: left;
    margin-bottom: 12px;
    padding-left: 15px;
    padding-right: 15px;
}
.box-side-guide .tab-title {
    float: left;
}
.box-side-guide .tab-content {
    border: 0 none;
    display: none;
    float: right;
    font-size: 12px;
    padding: 0;
    position: absolute;
    right: 0;
    top: 45px;
    width: 100%;
}
.box-side-guide .tab-content h2 {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    margin: 0 0 20px;
    padding: 0;
}
.box-side-guide .tab-title h2 {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    color: #000;
    cursor: pointer;
    float: left;
    font-family: momo;
    margin: 0;
    padding: 0 0 11px;
    text-align: left;
    width: 100%;
}
.size-guide-content .close {
    background: url("../images/removea.png") no-repeat scroll 0 center rgba(0, 0, 0, 0);
    display: inline-block;
    height: 25px;
    position: absolute;
    right: 8px;
    text-indent: -9999em;
    top: 8px;
    width: 25px;
    z-index: 9999;
}
.box-side-guide ul > li.active .tab-content {
    display: block;
}
.box-side-guide .tab-title h2:hover {
}
.box-side-guide li.active .tab-title h2 {
border-bottom:2px solid #000;
z-index:9999;
}
.box-content table {
    width: 100%;
}
.box-content table#size {
    margin: 0 auto;
    width: 100%;
}
.box-content table tr th {
    padding: 3px 0;
    text-align: center;
    width: 114px;
}
.box-content tr.headeruk {
    background: none repeat scroll 0 0 #f7f7f7;
    border-bottom: 1px solid #eee;
}
.box-side-guide .tab-content h2 {
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    font-family: momo;
    font-size: 12px;
    margin: 0;
    padding: 15px 0;
    text-transform: uppercase;
}
.product-box-customs .product-image {
    float: right;
}
.product-box-customs .more-view-slider {
    float: left;
}
.more-view-slider .container-slider {
    width: 110px;
}
.more-view-slider .container-slider > a.fa {
    display: none;
}
.mousetrap {
    cursor: crosshair !important;
}
#cloud-zoom-big {
    border: 0 none !important;
    left: 0 !important;
    top: 0 !important;
}
div#preview li.add-clone {
    margin-right: 177px;
}