p{ margin:0px 0px 0px 0; }

.header{margin-bottom: 30px;}
.company-name{font-weight: bold;margin-bottom: 10px;}
.margin-bottom-40{margin-bottom: 20px;}

.col2-set:after{ display:block; content:"."; clear:both; font-size:0; line-height:0; height:0; overflow:hidden; }
.col2-set .col-1 { float:left; width:48.5%; }
.col2-set .col-2 { float:right; width:48.5%; }
/*.col2-set div.block{height: 100%;}*/

table td.align-right{text-align: right !important;}
table td.align-left{text-align: left !important;}
table td.align-center{text-align: center !important;}

table {font-size: 10px;width: 100%;}
/*table tr th{text-align: left;}*/
table td, table th{padding: 0 5px 5px;}
table tr td:first-child{padding-left: 0;}
table td{vertical-align: top;}
table td.label{width: 200px;}
table td.value{width: 300px;}

.order-totals {
    text-align: right;
}

.order-totals table td{
    text-align: right !important;
}

.order-totals table td {
    white-space: normal;
    padding-left: 10px;
    width: 10%;
}
.order-totals table td.label{
    width: 80%;
}

div.block{
    width: 100%;
    margin-bottom: 20px;
}
div.block-footer{
  width: 100%;
}
div.block .head{
    padding: 5px 20px;
}
div.block .fieldset{
    padding: 10px;
}

div.block p{margin: 0;padding: 0;}

@media print
{
    .break {page-break-before:always}
}