body {
	margin:0;
	padding:0;
    min-height: 100%;
    min-width: 1020px;
    font-family: Arial,Helvetica,sans-serif !important; font-size:11px;
	background: #fff;
	 
    }
#main{
position:absolute;
*position:static;
	/*padding:15px 0px;*/
	width:1020px;
	height:1px;}

img{

border:none;

}
.pagewidth{

}

