#wrapper{
width:1020px;
margin:7px auto 0; padding-top:30px;

}
.outer{  width:1020px; margin:0 auto;}

.header_links_wrap{
width:1020px;
}
#headerwrapper{margin-bottom:5px;}



body {
	margin:0;
	padding:0;
    min-height: 100%;
    min-width: 1020px;
    font-family: Century Gothic, sans-serif !important; font-size:11px;
	background: #fff;
	 
    }
#main{
position:absolute;
*position:static;
	/*padding:15px 0px;*/
	width:1020px;
	height:1px;}
img{
border:none;
}
.pagewidth{
}
.pagewidth, .pagecontainer {
	text-align:left;
	margin:0px auto 10px auto;
}
.pagecontainer {
	border:0px solid #dbdbdb;
	margin:0px auto 10px auto;
	width:1020px;
	background:#FFF;
}
 .pagecontainer table table table, span.ebay table,  .pagecontainer table table tr, {
 background:transparent;
}
#gnheader.gbhdr {
	background:#fff;
!important
}
#gnheader.gbhdr table {
	padding:0px !important;
}
.bckcover {
	padding-top:0px;
	background:url(cover.jpg);
}
table.tb_v4bc li a:link,  table.tb_v4bc li a:visited,  table.tb_v4bc li a:active,  .v4sem a:link,  .v4sem a:visited,  .v4sem a:active {
	color:#333;
	text-decoration:none;
}
table.tb_v4bc li a:hover,  .v4sem a:hover {
	color:#333333;
	text-decoration:underline;
}
td#LeftPanel {
	width:168px !important;
    padding-top: 0px !important;
}
#gnheader {
    width: 1020px !important;
		background:url(cover.jpg) !important;
}
table.tb_v4bc {
  width: 1020px !important;
	color:#999;
	padding-top:0px;
	background:url(cover.jpg);
	margin-bottom:-8px;
	padding-left:10px;
}
#LeftPanel div.lcat /*shop category header ko talako hover category links ko width control garne main class ujj*/ {
	width:195px; 
	/*border-left:5px solid #e2832d;*/
}
td#LeftPanel div div table tbody tr td div {
	/*background:transparent;*/
}
#LeftPanel table.v4acpcont,  #LeftPanel table.v4acpcont table.v4acp,  #LeftPanel table.v4acpcont table.v4midBox {
	width:199px !important;
	margin-right:0px;
	margin-left:0px;
	
}
td.v4accent,  td.v4hspacer {
	display:none !important;
}
tr.v4acp_mid {
	padding:20px !important;
	margin:10px !important;
	*margin-top:0px;
	background:#FFF;
	border:1px solid #dfdfdf;
}
tr.v4acp_head,  v4acp {
	height:0px !important;
	padding:0px !important;
	margin:0px !important;
background:none;
}
.v4ilist a:visited{
color:#A49C88 !important;
}
#LeftPanel td.v4title {
	height:25px !important;
	*height:25px;
    padding:0px;
	margin:0px;
	display:block;
	width:197px;
	background:#fff;
	border:1px solid #CECECE; background:#fff;}
.v4title h2 {
    color: #231f20  !important;
	font:11px/22px Century Gothic, sans-serif;
	text-transform:uppercase;
    padding: 1px 0 0 8px;
	*padding: 0px 0 0 13px;
	}
	
	
td#LeftPanel table.v4acpcont tbody tr td table.v4midBox tbody tr.v4acp_mid{
padding:0px !important;
background:#F3F3F3; 
}
/*#LeftPanel table {
	border:none !important;
}*/
#LeftPanel span.cnt {
	display:none !important;
}
div.lcat div.ttl {
	line-height:15px;
	border:1px #CCC solid;
	padding:0px 0px 0px 2px !important;
	margin:0px !important;
	font:Century Gothic, sans-serif;
	font-size:12px;
	display:none; 
}
ul.lev1, ul.lev2, ul.lev3,  ul.lev1 li, ul.lev2 li, ul.lev3 li,  #LeftPanel td.oc ul,  #LeftPanel td.oc ul li,  #LeftPanel td.oc {
	*background:none;
	list-style-image:none !important;
	list-style-type:none !important;
	padding:0px !important;
	margin:0px !important;
	display:block;
	overflow:hidden; text-transform:capitalize;
}
ul.lev1 li a:link, ul.lev1 li a:visited, ul.lev1 li a:active {
font:11px/25px Century Gothic, sans-serif;
color: #222;
list-style-position: inside;
margin:-1px 0 0 0px;
*margin:0px 0 0 0px;
padding:0px 0 1px 10px;
*padding:0px 0 1px 10px;
vertical-align:top;
overflow:hidden;
height: 25px;
display:block;
*height:19px;
}
ul.lev2 li a:link, ul.lev2 li a:visited, ul.lev2 li a:active,  ul.lev3 li a:link, ul.lev3 li a:visited, ul.lev3 li a:active,  a.all_cats:link,  a.all_cats:visited,  a.all_cats:active,  #LeftPanel td.oc li a:link,  #LeftPanel td.oc li a:visited,  #LeftPanel td.oc li a:active {
font:11px/25px Century Gothic, sans-serif;
color: #222;
list-style-position: inside;
margin:0 0 0 0px;
padding:0px 0 1px 10px;
vertical-align:top;
overflow:hidden;
display:block;
*margin:0px 0 0 0px;
*height:19px;
height: 25px;
}
ul.lev2 li a:link,  ul.lev2 li a:visited,  ul.lev2 li a:active {
	padding:0px 0px 0px 20px;
}
ul.lev3 li a:link,  ul.lev3 li a:visited,  ul.lev3 li a:active {
	padding:0px 0px 0px 25px;
}
ul.lev1 li a:hover, ul.lev2 li a:hover, ul.lev3 li a:hover  a.all_cats:hover,  #LeftPanel td.oc li a:hover { color:#dd2523 !important;text-decoration:underline;}
div.lcat div.link a{
font:11px/25px Century Gothic, sans-serif;
color: #222 ;
height: 25px;
padding:0px 0 1px 10px;
*padding:0px 0 1px 10px;
display:block;
}
a.all_cats{
font:11px Century Gothic, sans-serif;
color: #222 ;
height: 25px;
padding:0px 0 1px 10px;
*padding:0px 0 1px 10px;
display:block;
	
}
#LeftPanel ul.lev1 span,  #LeftPanel ul.lev2 span,  #LeftPanel ul.lev3 span {
font: 11px/25px Century Gothic, sans-serif !important;
padding:0px 0 1px 10px;
overflow:hidden;
display:block;
color:#dd2523;
height:25px;
}
#LeftPanel ul.lev2 span {
	padding:0px 0px 0px 20px;
}
#LeftPanel ul.lev3 span {
	padding:0px 0px 0px 25px;
}
.whiter-rcp {
	vertical-align:top;
	text-align:left;
	border:0px solid #FFFF00;
	margin-left:5px;
	padding-bottom:10px;
}
#LeftPanel td.v4mid {
	padding:0px !important;
	background:  transparent;
}
.v4f{}
 td.oc ul{ margin-bottom:15px !important;}
/*#LeftPanel table {
	border:none !important;
}*/
#LeftPanel span.cnt {
	display:none !important;
}
table#TopPromoArea .v4title {
	background: none repeat scroll 0 0 #FFF;
    border-bottom: 1px solid #EFEFEF;
    margin: 0;
}
table#TopPromoArea .v4title font {
	color:#777!important;
	padding-left:10px;
	*padding-left:14px;
	font:70 14px Century Gothic, sans-serif;
	line-height:18px;
}
table#TopPromoArea td.v4mid {
	border:0px #000000 solid !important;
	
}
table#TopPromoArea td.v4footd {
	background:transparent !important;
	border:none !important;
}
table#TopPromoArea li a:link,  table#TopPromoArea li a:visited,  table#TopPromoArea li a:active,tr.v4acp_mid td.v4mid table.v4ilist tbody tr td table.gallery tbody tr td.details div.ttl a {
	color:#121212 !important;
	text-decoration:none !important;
	font:bold 12px "Trebuchet MS", Century Gothic, sans-serif;
}
table#TopPromoArea li a:hover,tr.v4acp_mid td.v4mid table.v4ilist tbody tr td table.gallery tbody tr td.details div.ttl a:hover {
	color:e55137  !important;
}
.countClass,  .matchClass,  .keywordClass {
	color:#222 !important;
	background:none !important;
}
.whiter-n {
	display:none;
}
#v4-23_mid.whiter-mid,  #v4-22_mide,  #v4-15.cmpBr,  .v4-14,  #v4-14,  #v4-15.cmpb,  #v4-6.ctrlbr,  #v4-4.rs_box  table.grid {
	background:transparent !important;
	border:none !important;
}
td.picture,  td.details {
	color:#323232   !important;
	/*padding-left:10px;*/
}
 span.ship{
	 color:#000 !important;
 }
 div table.fixed tbody tr td div.clr span{
	font:normal 11px  Century Gothic, sans-serif;
 
 
 }
td.picture a:link,  td.picture a:visited,  td.picture a:active,  td.prices a:link,  td.prices a:visited,  td.prices a:active,  td.time a:link,  td.time a:visited,  td.time a:active {
	color:#767575 !important;
	text-decoration:underline !important;
}
td.picture a:hover,  td.prices a:hover,  td.time a:hover {
	color:#767575 !important;
	text-decoration:none !important;
}
td.gallery table.gallery {
	height:350px;
	background:#fff;
	
	margin-left:0px;
	text-align:left;
	
	margin-top:3px; border:1px solid #fff; 
}
td.gallery table.gallery:hover{
-webkit-box-shadow:0 .0625em .25em rgba(51,65,80,.35);-moz-box-shadow:0 .0625em .25em rgba(51,65,80,.35);box-shadow:0 .0625em .25em rgba(51,65,80,.35);border-radius:5px;z-index:5;background:url(gallery-bg-active.jpg) right bottom no-repeat;border:1px solid #ccc;	border:0px solid e55137 ;}
table.gallery:hover   a{color:#dd2523 !important;}
div.ttl div{margin-bottom:0px !important;}
td.gallery table.gallery .image img {
}
html>body*td.gallery table.gallery {
}
td.gallery {
	padding-right:0px;
	text-align:center;
	height:302px;
}
table.gallery td.picture{
	padding:3px !important;
}
td.gallery .picture {
	height:150px !important;
	text-align:center; border:1px solid #cecece;
}
table.gallery .mi{ min-height:1px; padding-top:0px;}
td.gallery .picture:hover{border:1px solid e55137 ;}
 td.details div table.fixed tbody tr td span.bin{
	color:#000  !important;
    font:18px Century Gothic, sans-serif;
	margin-left:-5px;
	*margin-left:0px;
	 padding:0 5px;
}
td.gallery a {
color:#222    !important;
font:11px/16px Century Gothic, sans-serif;
margin-left:0px;
text-transform:none;
}
td.gallery a:hover {
	color:#dd2523  !important;
	text-decoration:none !important;
}
td.gallery table.gallery:hover {
	color:#e55137  !important;	
	
}
td.gallery div.ttl {
	background:none !important;
	margin-top:0px;
	position:relative;
}
td.gallery div.basics, td.gallery div.basics span {
	font-size:11px !important;
	font-weight:normal !important;
}
td.gallery .image a {
	margin:0 !important;
	width:auto !important;
}
td.gallery li span, td.gallery li {
	font-size:13px;
	color:#000000 !important;
	padding-left:2px;
}
table.nol {
	border-top:0px #000000 solid !important;
	border-bottom:1px #cecece  solid !important;
	height:35px;
}
.li td.prices{
	color:#222;
}
.li td.fshp, .li td.prices span.fshp, .li td.fshp span.fshp, .li td.ship span.fshp{ color:#000;}
div.cmpb{
	    background-color: #fff;
	text-transform:uppercase;
}
table.cmpb {
	background:transparent !important;
	border:none !important;
}
table.nol td.details a:link,  table.nol td.details a:visited,  table.nol td.details a:active {
color: #000!important;
    font: bold 12px "Trebuchet MS", Arial, Helvetica, sans-serif !important;
    margin-left: 0;
	text-decoration:none;
}
div#lvc.lview table.li tbody tr td.bids img{
background:#FFFFFF;
}
div.cmpb{
background:#f9f9f !important;
border:none !important;
}
table.nol td.details a:hover {
	text-decoration:underline;
	font-weight:bold;
}
.v4ilist a:link{
color:#000 ;
font-weight:bold;
}
table.gallery img{
background:#FFF ;
}
 div.ttl img.ii{
background:none !important;}
td#CentralArea table.r3 {
	margin:0;
	padding:0;
	border:0;
background-color:#FFF;
	height:25px;
	line-height:25px;
	margin-left:0px;
	margin-top:4px;
		*margin-left:0px;
		*float:left;
		*border:0px solid #fff;
}
td#CentralArea td.r3_bl {
	margin:0;
	padding:0;
	border:0;
	width:633px;
	height:0px;
	}
td#CentralArea div.itemseparator {
	margin:0;
	padding:0px 0;
	border:0;
}
td#CentralArea .ctrlbr {
	margin:0;
	padding:0px 10px;
	border:0; /*border-bottom:1px solid #CECECE;*/ background:none; float:left;
}
.r3_bl b {
	border:none;
	background:none;
}
.r3_t i, .r3_bl i {
	border:none;
}
.r3_hm, .r3_c, .r3_s {
	border:none;
}
div.fpcc{
padding: 0px 0 7px 2px;
background-color:#fff; border-bottom:1px solid #CECECE; 
/*opacity: 0.5;
  filter: alpha(opacity = 50);
*/
}
td#LeftPanel table.v4midBox table.v4nl {
	width:100% !important;
	padding:5px !important;
	padding-left:0px;
	margin-left:0px;
	text-align:center;
}
td.gallery td.details div {
	background:none !important;
	border:none !important;
}
td.gallery td.details a:link,  td.gallery td.details a:visited,  td.gallery td.details a:active {
	font-family:  Arial, Helvetica, sans-serif;
	text-decoration:none;
}
table.gallery tbody tr td.details div.ttl img.ii{
background-image:none;
}
span.label,  td.prev,  a.disabled {
	color:#5a5a5a !important;
	font:normal 11px Arial, Helvetica, sans-serif;
}
div.itemseparator {
	display:none;
}
.grid td.left {
	border-left:0px solid #333; padding:0px 10px;
}
#sModule {
padding-bottom:10px;
}
#glbfooter {
	padding-left:10px;
	padding-right:10px;
	padding-top:10px;
	padding-bottom:10px;
	*width:898px;
	text-align:center;
	*position:absolute;
	*margin-left: -13px !important;
}
#gf-l{ padding-bottom:2px;}
#glbfooter a {
color:#222 !important;
	font:normal 11px  Arial, Helvetica, sans-serif;
}
.g-pipe {
color:#4C4C4C !important;
	padding-top:5px;
}
#glbfooter a:hover {
	
	text-decoration: underline
}
#glbfooter .g-hlp .g-nav {
	padding-left:90px;
	padding-right:130px;
}
#glbfooter .g-hlp table {
	width:100%;
}
.footerBGPost {
	color: #222;
	font-family:Century Gothic, sans-serif;
	font-size: 11px;
	padding: 5px 0 5px;
}
td#CentralArea div.v4stabl {
	margin-top:0px;
	color:#222;
	font:normal 11px Arial, Helvetica, sans-serif;
}
.v4sem {
	display:none;
}
#storercp_mid {
	margin-left:-11px;
}
div#sFooter {
	display:none;
}
.whiter-s_nf {
	display:none;
}
.stBadge {
    height: 60px;
	padding-left:0px;
	color:#222 !important; margin-top:0px;
}
 div.stBadge-midContent div table tbody tr td div.mbg a span.mbg-nw,div.stBadge-midContent div table tbody tr td div.mbg a span.mbg-nw, div.stBadge-midContent div table tbody tr td a{
 color:#4C4C4C !important;
 font:normal 11px  Arial, Helvetica, sans-serif !important;
 }
 
.stBadge-accent {
	display:none;
}
.v4acp {
	margin-top:10px;
	width:300px;
}
.v4vspacer {
	display:none;
}
.v4baccent {
	display:none;
}
.v4sbox {
	width:75px;
}
body table table table form table table {
	margin: 8px 0px 8px 0px;
}
body table table table form table input {
	margin: 8px 0px 0px 8px;
}
/*table#TopPromoArea tr.v4toppromos, table#TopPromoArea tr.v4toppromos table.v4acpcont {*/
table#TopPromoArea tr.v4toppromos, table#TopPromoArea{
	margin-left:0px;
		*margin-left:0px;
}
#logo {
	font-size:11px;
	color:#B527A9; float:right;
	text-decoration:none;
	z-index:2; 
	
}
#logo h1{
	*font-size:11px !important;
	background:url() 0 0 no-repeat;
	padding-left:65px;
	height:25px;
	line-height:22px; font-weight:normal;
	
}
#logo a {
	color:#000098;
	text-decoration:none;
}
#logo a:hover {
	color:#B527A9;
	text-decoration:underline;
	font-weight:bold
}
.g-pipe img {
	height: 0px
}
.g-nav {
	color: #000;
	
}
.cmpBr span.g-nav {
	color:#222; font-size:11px; float:right;
}
#CentralArea .cmpBr, #CentralArea .ctrlbr {
	border:none
}
.r3_c {
	border-width:0 0px !important;
}
.r3_cm {
	padding:0px;
	border:0px solid #282525; margin-top:-5px;
}
table.v4acp tr.v4acp_head td.v4title {
	color:#F93E04;
	font-weight:bold;
	padding:0px 0px 0px 0px;
	
	height:31px !important;
}
.rs-pview {
	padding:0 0px;
}
.stBadge-midContent td {
	padding-left:17px;
}
td.basics {
	width:110px;
}
#gnheader, .gh-w {
	background-attachment:scroll !important;
	background-color:transparent !important;
/*	background-image:url(cover.jpg) !important;
*/
	background-position:0 0 !important;
	background-repeat:repeat !important;
	min-width:760px;
	padding-bottom:10px;
	padding-left:0;
	padding-right:0;
	padding-top:10px;
}
div.pagewidth div.pageminwidth div.pagelayout div.pagecontainer table tbody tr td table tbody tr td#LeftPanel table.v4acpcont {
	margin-top:-16px;
	margin-left:1px;
	
}
.gh-emn {
	margin-right:2px;
	margin-top:-4px;
}
table.v4acpcont {
	margin-bottom: 20px;
	margin-top:-30px;
	width:308px;
}
/*----------------------added by ujj latest----------------*/
  table.v4acpcont tbody tr td table.v4midBox {
  border:none;
  margin-top:5px;
  *margin-top:0px;
}
#LeftPanel table.v4acpcont {
	background:none;
	border-bottom:none;
	margin:0 0 10px;
	padding:0 0 0px;
	border:0;
}
/*
_____________________________________________ */
#LeftPanel table.v4midBox {
	margin:0 0 16px 0;
	padding:0;
	border:0;
}
#LeftPanel table.v4midBox tr.v4acp_mid td.v4mid form table {
	margin:0;
	padding:10px 10px 15px;
	border:0;
	color:#222; font:11px Arial, Helvetica, sans-serif;
}
#LeftPanel table.v4midBox tr.v4acp_mid td.v4mid {
		
}
#LeftPanel .v4clp td.oc li span {
    color: #222;
	text-decoration:underline;
    display: block;
    font:11px/25px Arial, Helvetica, sans-serif;
    height: 32px;
    list-style-position: inside;
    margin: -1px 0 0 0;
    overflow: hidden;
    padding: 0 0 1px 10px;
    vertical-align: top;
	}
div#glbfooter.coreFooterLinks table tbody tr td {
	background:transparent;
}
table.v4midBox {
 border-bottom: 1px solid #ddd !important;
    border-left: 1px solid #ddd !important;
    border-right: 1px solid #ddd !important;
	}
.right_bottom{  padding:0 0 9px 0; border:0; 
}
/*----------------top navbar css------------------*/
.topnav{
/*table-layout:fixed;*/
}
/*-------------------------------------------------------------------------------------------------*/
/*------------------------------------topnavcss ends here---------------------------------------------*/
.r3_t, .r3_t b, .r3_bl, .r3_bl b {
background:#FFF;
}
/*---------------------two promo box on top------------------------------------*/
td.v4topleft .v4wfc, td.v4topright .v4wfc {
    height: 130px;
}
div.lcat div.ttl {
	line-height:15px;
	border:1px #CCC solid;
	padding:0px 0px 0px 2px !important;
	margin:0px !important;
	font:Arial;
	font-size:11px;
	display:none;
}
.seachinput{
margin:0px !important;
color:#256998;
}
.seachinputText{
margin:0px 10px 0px 0px !important;
color:#256998;
border:none;
}
 div.newset_wrapper div.caroufredsel_wrapper ul#foo2 li a:visited{
  color: #307FB9;
 }
/*****RIGHT CONTENT****/
#right{
float: right;
    left: 827px;
	*left: 835px !important;
    position: absolute;
    top: 0px;
	*top: 12px;
    width: 153px;	  
	 }
	  
#right_flash{
position:absolute;
	width:120px;
	*width:110px;
	float:right;
	left: 856px;
	*left: 1147px;
	border:1px solid #E6E6E6;
 -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px; background:#f5f5f5;
}
#right_flash ul{
	padding:0px;
	list-style:none;
	margin: -12px 0 0;
	}
#right_flash ul .linkmenu_list_footer{
    min-height: 12px;
}
#right_flash li{
	padding:0px;
}
#right_flash ul li{
	padding:5px 5px 5px 4px;
	*padding:9px;
	 
}
#foo1_prev {
    background: url("up.png") no-repeat scroll 0px 0 transparent;
    display: block !important;
    height: 21px;
    margin: 0 auto;
    padding: 3px;
    width: 24px;
}
#foo1_prev:hover{
    display: block !important;
		opacity:40%;
}
#foo1_next{
    background: url("down.png") no-repeat scroll 0px 0 transparent;
    display: block !important;
    height: 21px;
    margin: 0 auto;
    padding: 3px;
    width: 24px;
}
#foo1_next:hover{
    display: block !important;
	opacity:40%;
}
 #logo h1 {
    float: right;
    font-size: 11px;
    margin: 0;
}
.logo_name {
    float: left;
    width: 78px;
	color:#000098;
	line-height:22px;
	}
	
span.pdmt .cur{
color:#222;
text-transform:uppercase;
font:11px Arial, Helvetica, sans-serif;
}
span#v4-31.pdmt span#v4-32.cur img, span#v4-25.pdmt span#v4-26.cur img
{
display:none;
}
.stBadge-text {
    color: #222 ;
    font: bold 11px  Arial, Helvetica, sans-serif;
}
/*-----css fix---*/
 span.bid{
    font: bold 12px "Trebuchet MS", Arial, Helvetica, sans-serif !important;
	 
 }
table.gallery table.fixed div.time2 {
width:120px;
}
table.gallery div.ttl{
font:normal 11px "Trebuchet MS", Arial, Helvetica, sans-serif;
text-transform:capitalize;
}
div#storercp_mid.whiter-mid div#storercp_mide div.stBadge-midContent div table tbody tr td table{
display:none;
}
div#splitter{
display:none;
}
table.v4nl td{
	font:normal 11px "Trebuchet MS", Arial, Helvetica, sans-serif !important;
	text-align:justify;
}


#wrapper{
width:1020px;
margin:7px auto 0; padding-top:30px;
}
.outer{  width:1020px; margin:0 auto;}
.header_links_wrap{
width:1020px;
}
#headerwrapper{margin-bottom:5px;}
/*-------------------hover-active----*/
#right_side_nav_left{
float:left;
width:7px;
height:30px;
margin-top:10px;
margin-left:-3px;
}
#right_side_nav_right{
float:left;
margin-left: 143px;
    margin-top: -67px;
   *margin-top: -98px;
    width: 11px;
	height:30px;
}
body a:link, body .g-novisited a:visited {
    color: #222 ;
}
.rs_box {
	background:#FFF;
	border:none !important;
	
}
span.fshp{
color:#000;
padding-left:5px;
font: normal 11px  Arial, Helvetica, sans-serif;
}
.fpcc .smuy{
text-transform:uppercase;
font:normal 11px Arial, Helvetica, sans-serif;
}
.fpcc .matchClass,.fpcc .countClass{
	font-family:12px Arial, Helvetica, sans-serif !important;
}
td.details div table.fixed tbody tr td div.clr
{
width:134px;
}
.list_carousel{
height:800px;
}
 div#right_side_nav ul li div.list_carousel ul#foo2 li{
 background:none;  border:1px solid #DDDDDD !important
 }
 ul#foo2.rcarousel li a{
 text-decoration:none;
 }
 
div.list_carousel ul#foo2{
height:800px !important;
background:none !important;
}
div#right_flash div#right_side_nav ul li div.caroufredsel_wrapper ul#foo2 li{
background:none;
}
div#right_side_nav{
	background:none;
}
.logo_space {
	width:1020px;
}
.menu_bar {
	width:1020px;
	height:25px;
	float:left;
}
.headder_banner {
	width:1020px;
	float:left;
}
.searchPanel
{
padding: 2px 6px 0;
}
.right_col{
float:right;
}
table.v4acp tbody tr.v4acp_head td.v4title font
{
*height:25px;
color:#222;
font:11px Arial, Helvetica, sans-serif; text-transform:uppercase; display:inline-block;
}
div.pagecontainer table tbody tr td table tbody tr td table tbody tr td table tbody tr td table tbody tr td#CentralArea{
width:100px;
}
.cmpBr {
    background-color: #FFF;
    background-repeat: repeat;
    height: 30px;
	text-transform:uppercase;
	border-bottom:1px solid #cecece;
	
}
td#CentralArea div.dynpg {
    background-image: none;
border:1px solid #cecece !important; 	
    margin:10px 0 0;
    padding: 0px;
}
table.pgbc {
	background:#FFF; border:none !important;
}
.pgbc {
    background-color: #353535;
    color: #FFFFFF;
    padding: 5px 10px;
}
td.r3_c div.r3_cm div#v4-21.rs_box div#v4-41.dynpg table.pgbc{
	*background-color: #000;
	
}
table#TopPromoArea td.v4topright{
padding:0 0 0 9px;
}
tr.v4footr td.v4footd a:link, tr.v4footr td.v4footd a:visited, tr.v4footr td.v4footd a:active {
    color: #FFF;
    text-decoration: none;
	font:10px/18px Century Gothic, sans-serif;
	display:block;
	height: 15px;
    padding: 2px 8px 3px 0;
	width:70px;
	background:#ccc;	
	float:right;
	text-transform:uppercase;}
tr.v4footr td.v4footd a:hover{
}
.dynpg span.page{
color:#4E4747 ;
}
.seachdiv{
	position:absolute;
	padding-left: 704px;
}
#search_block {
    float: right;
    margin:0px 0px 0px;
}
#searchbox p.search_form label {
    color: #707070;
    display: block;
    float: left;
    font: bold 14px "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding: 8px 11px 0 12px;
    text-transform: uppercase;
	*padding-top:0px;
}
#search_block p.search_form {
    float: left;
    height: 31px;
	margin:0px;
	padding:0px;
}
#search_block p.search_btn {
    float: left;
    height: 31px;
    padding: 0 0 0 2px;
	margin:0px;
}
#search_block p.search_btn a {
    background: url("magnifier.png") no-repeat scroll 0 0 transparent;
    display: block;
    float: right;
    height: 30px;
    overflow: hidden;
	*padding:0px;
	*height:44px;
	*margin-top:0px;
	*line-height:30px;
    width: 30px;
	text-align:center;
	text-decoration:none; position:absolute; margin-left:-25px; margin-top:6px;
}
#search_block input.search_query {
   border: 1px solid #b4b4b4;
    color:#231f20;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 5px 0 5px 3px;
    width: 200px;
}
#search_block input.search_query:focus{ outline:1px solid #222;}
#nav {
	text-align:center;   
   position:relative; margin:0px 0px;
}
/*#nav ul {
	margin:0;
	padding:0;
	list-style:none;
	left:50%;
	display:block;
}
#nav ul li {
	float:left;	display:inline;}
#nav ul li a {   	float: left;	display:inline;    font: bold  14px Arial, Helvetica, sans-serif;   padding: 10px 15px; text-decoration: none; text-transform:uppercase;
	text-align:center;       color: #231f20;}
#nav ul li a:hover,
#nav ul li:hover > a {
       color: #fff; text-decoration:none; background:#000; transition:background-color 500ms linear 0s;
}
#nav ul li:first-child a{border-left:0px;}
*/
.tag-line{ width:1020px; height:20px; border-bottom:1px solid #cecece; border-top:1px solid #cecece; padding:3px 0px;}
.tag-line ul{margin:0; padding:0; list-style:none; width:100%;}
.tag-line ul li{float:left; border-right:1px solid #cecece; width:24.9%; text-align:center; } 
.tag-line ul li:last-child{border-right:none;}
#nav ul li a.active{
/*background:#9EC023 !important;	
*/	
}
.h940{
	line-height:31px;
}
.b1{
	float:right; 
}
.shop-logo{
	float:left; margin:0px 0px;
}
li.far_right{
	float:right !important;
	padding-right:0px;
}
#first_li {
	border-left:none !important; 
	background:none !important;
}
.search_block{
	height:31px;
}
td.v4mid div.lcat a.all_cats{
	margin-bottom:10px;
}
table.v4thldr tbody tr td div{
	font:normal 12px Arial, Helvetica, sans-serif;
}
.last_li {
	padding-right:0px !important;
	margin-right:0px !important;
}
.lx1{
	height:30px;
	font: normal 12px/32px Arial, Helvetica, sans-serif !important;
	color:#111010 ;
	margin-bottom:2px;
	width:200px;
	background:#fff;
	text-transform:uppercase;
	text-align:center;
}
div.lxbg {
	padding:11px;
	background:#302D2B !important;
	width:178px;
	font:12px Arial,Helvetica,sans-serif;
	color:#F93E04;
}
.cpwd{
	width:580px;
	word-wrap:break-word;
	padding:8px;
	font:normal 12px  Arial, Helvetica, sans-serif !important;
	color:#222 !important;
	height:800px;
}
.arrow_wrapper{
	width:103px;
	margin-left:10px;
	
	
}
ul#foo2.rcarousel li a img{
	width:108px;
	height:108px;
}
 td.oc ul li.v4f a{
	 color:#222  !important;
 }
  td.oc ul li.v4f a:hover{ text-decoration:underline !important;}
.subtitle{
	color:#5a5a5a;
	font:normal 11px Century Gothic, sans-serif;
}
/*promo box extra*/
.clrfix{float:none; clear:both;}
#mhdr {
width: 100%; border-bottom:1px solid #b4b4b4;
padding: 8px 0; background:#fff; height:20px; left:0; right:0; position:absolute; z-index:0; 
}
#footerlogo{ float:left; margin-right:13px; margin-top:0px;  width:860px; height:65px; center right no-repeat;

}
#footermenubox{   margin:0px auto; background:#fff; padding:10px 0px 0px 0px;}
.section-space{padding:10px;}
.heading{ font:bold 12px Century Gothic, sans-serif; color:#222; text-transform:uppercase; margin:0px 0px 10px 0px;}.fbox{float:left; margin:0px; width:20%;}
.go28{width:28%} .go25{width:24% ; margin-top: 25px;}
ul.footermenu
{ margin: 0; padding:0; }
.fbox p{ font:bold 12px/30px Century Gothic, sans-serif;	padding:5px 0px; text-transform:uppercase; height:30px; margin:0; }
.contactPh{ background:url(http://mokky.co.uk/ebay/images/tel.png) center left  no-repeat; padding-left:35px !important;   }
.contactemail{background:url(http://mokky.co.uk/ebay/images/mail.png) center left  no-repeat; padding-left:35px !important;   }
.contactInfo{background:url(http://mokky.co.uk/ebay/images/hours.png) center left  no-repeat; padding-left:35px !important;   }
.col2{ }
.col2 li{float:left; width:50%; }
ul.footermenu { list-style:disc outside none; padding:0; }
/* Bullet */
ul.footermenu { list-style:none outside none; }
ul.footermenu li {  margin:3px 0px; }
ul.footermenu li:hover {
}
.footermenu li a {
    color: #222;
    display:inline-block;
    text-align: center;
    text-decoration: none;
	font:10px Century Gothic, sans-serif;
	padding:2px 0px; text-transform:uppercase;
}
.footermenu li a:hover { color:#dd2523; text-decoration:underline; }
.social{ border-top:1px solid #ddd; padding-top:10px;}
.social-links{float:right; margin-top:8px;}
.social-links a {
	float:left;
	display:block;
	margin-right:5px;
	margin-bottom:5px;
	overflow:hidden;
	width:48px;
	height:48px;
	border-radius:0; opacity:0.7;
filter:alpha(opacity=70); /* For IE8 and earlier */
}
.social-links a.last { margin-right:0; }
.social-links a:hover {opacity:1.0;
filter:alpha(opacity=100); /* For IE8 and earlier */  }
div.gallery{width:180px; float:left; padding:10px 10px; height:270px;   border-bottom:1px solid #dd2523; line-height:18px !important; position:relative;}
div.gallery img.sale{ position:absolute; right:10px; top:10px;}
#cbtf-btm{ clear:both;}
div.image{}
 div.gallery:hover{ }
.disct,.oriprs{ font-size:11px; color:#dd2523;}
div.gallery:hover   a{color:#dd2523 !important;}
div.gallery a {
color:#222    !important;
font:11px/16px Century Gothic, sans-serif !important;
margin-left:0px;
text-transform:none;
}
a.gpvi img{ height:110px; width:auto;}
div.gallery a:hover {
	color:#dd2523  !important;
	text-decoration:none !important;
}
div.gallery .subtitle, div.gallery .time2{ display:none;}
div.gallery .bin{font-size:13px; font-weight:bold;}
div.gallery .ttl{ margin:5px 0px;}
.cmsg{ padding-bottom:0px;}
a									{ }
ul									{ list-style: none; }
/* 
	LEVEL ONE
*/
ul.dropdown                         { list-style: none; position: relative;  
  margin: 0;
  padding: 0;
  list-style: none;
	height:36px;   float:left;
}
ul.dropdown li                      {  float: left; zoom: 1;  text-align:left;}
ul.dropdown a:active                { color: #ffa500; }
ul.dropdown li a                    { display: block; padding:5px 9px;
	 								  color: #231f20; font:22px Century Gothic, sans-serif;  text-decoration: none; text-transform:uppercase;
  }
ul.dropdown li:last-child a         { border-right: none; } /* Doesn't work in IE */
ul.dropdown li.hover,
ul.dropdown li:hover                {position: relative;background: #000; color:#fff;   border-bottom:0px;  }
 ul.dropdown li.hover a.dropdown_root_ct_link{color:#fff;}
/* 
	LEVEL TWO
*/
ul.dropdown ul 						{ margin:0; padding:0 5px !important; width:190px;visibility: hidden; position: absolute; top: 100%; left: 0px; background:#fff; z-index:999; -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);-moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75); border:1px solid #ccc;}			                                      
ul.dropdown ul li 					{ font-weight: normal; background: none; color: #000;  float: none !important; width:100%; }
ul.dropdown_store_sub_ct li{float:none !important;}									  
                                    /* IE 6 & 7 Needs Inline Block */
ul.dropdown ul li a					{font-size:11px !important; text-transform:capitalize ; font-weight:normal;  border-right: none;  display: inline-block; padding: 5px 0px 5px 8px;   }
ul.dropdown li:hover ul li          {border:none !important; } 
ul.dropdown li:hover ul li.hover    { color:#fff; background:#fff;  }
ul.dropdown_store_sub_ct li:hover a:active{color:#000 !important; }
ul.dropdown_store_sub_ct li a{color:#000;}
ul.dropdown li ul.dropdown_store_sub_ct li.hover a{ text-decoration:underline;  }
.dropdown_store_sub_ct li.hover{ border:0px solid #000 !important;}
/* 
	LEVEL THREE
*/
.dropdown_store_sub_ct li.hover ul{}
.dropdown_store_sub_ct li.hover ul li{background:#000;}
ul.dropdown ul ul 					{ left: 100%; top: 0; margin:0; padding:0; }
ul.dropdown li:hover > ul 			{ visibility: visible;  margin:0; padding:0;}
ul.dropdown li ul.dropdown_store_sub_ct li ul.dropdown_store_lev3_ct li a.dropdown_store_lev3_ct{color:#fff;}
ul.dropdown li ul.dropdown_store_sub_ct li ul.dropdown_store_lev3_ct li.hover a.dropdown_store_lev3_ct{color:#000;}
/*last li of list*/
.c-banner{width:807px; height:100%; position:relative;}
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 
/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}
/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}
/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}
/* FlexSlider Default Theme
*********************************/
.flexslider {margin: 0 0 10px; background: #fff; border: 4px solid #fff; position: relative; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px;  zoom: 1;}
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}
.carousel li {margin-right: 5px}
/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a {width: 50px; height: 50px; margin: -20px 0 0; display: block; background: url(slider-arrows.png) no-repeat 0 0 #fff; position: absolute; top: 50%; z-index: 10; cursor: pointer; text-indent: -9999px; 
transition:			opacity 600ms ease-in-out, background-color 150ms ease-in-out, background-position 300ms ease-in-out;
	-moz-transition:	opacity 600ms ease-in-out, background-color 150ms ease-in-out, background-position 300ms ease-in-out;
	-webkit-transition:	opacity 600ms ease-in-out, background-color 300ms ease-in-out, background-position 300ms ease-in-out;
	-o-transition:		opacity 600ms ease-in-out, background-color 300ms ease-in-out, background-position 300ms ease-in-out;
}
.flex-direction-nav .flex-next {background-position:-50px 0px; right: 10px; }
.flex-direction-nav .flex-prev {left: 10px;}
.flexslider:hover .flex-next { right: 10px;}
.flexslider:hover .flex-prev { left: 10px;}
.flexslider:hover .flex-next:hover{  background: url(slider-arrows.png) no-repeat  #333; background-position:-50px -50px; }
.flexslider:hover .flex-prev:hover { background: url(slider-arrows.png) no-repeat  #333;  background-position:0px -50px; }
.flex-direction-nav .flex-disabled { cursor: default;}
/* Control Nav */
.flex-control-nav {width: 100%;  bottom: 4px; text-align: center; position:absolute;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 20px; height: 20px; display: block; background: url(pager.png);  cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; box-shadow: inset 0 0 3px rgba(0,0,0,0.3);}
.flex-control-paging li a:hover {background: url(pager.png) 0px -60px;  }
.flex-control-paging li a.flex-active { background: url(pager.png) 0px -60px; cursor: default; }
.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}
@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {opacity: 1; left: 0;}
  .flex-direction-nav .flex-next {opacity: 1; right: 0;}
}
.styled-select {
   width: 200px;
   height: 34px;
   overflow: hidden;
   background: url(down_arrow_select.jpg) no-repeat right #ddd;
   border: 1px solid #ccc;
   }
.styled-select select {
   background: transparent;
   width: 200px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;
   }
.searchOption{margin:0px; font-family:Century Gothic, sans-serif; font-size:12px;}
.size,.color,.style{ margin:0; padding:0; list-style:none; width:190px;}
.color li{ border:1px solid #ddd; float:left; padding:6px 6px; margin:6px; font-size:12px; cursor:pointer; height:12px; width:12px; -moz-border-radius: 3px; -webkit-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px;}
.style li{   padding:3px 8px; margin:3px; font-size:12px; cursor:pointer; }
#red{ background:red;} #black{ background:black;} #pink{ background:pink;} #green{ background:green;} #blue{ background:blue;}
#brown{ background:brown;} #silver{background:#DEDEDE;} #gold{background:#CFB53B;} #purple{background:purple;} #nude{background:#e5b292;} #white{}
#yellow{background:#FFFF00;} #orange{background:#FF6600;} #grey{background:#7F7F7F;} #tan{background:#D2B48C;}
#selectedSize{border:2px solid #03F;}
.searchOption h3{margin:0px; padding:5px; font:bold 14px Century Gothic, sans-serif;}
.clearme{ clear:both;}
.radioInput {display: none;}
.optlink{color:#fff;}
ul#shoesize {list-style-type:none; float:left;}
ul#shoesize li{cursor:pointer; display:inline-block;  border:1px solid #bbb; padding:4px 8px; margin:2px; -moz-border-radius: 3px; -webkit-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px; text-align:center; background:#000; color:#fff;}
.shoesizeOver{background: #dd2523 !important; color:#fff !important;}
.selected{background: #dd2523 !important; color:#fff !important;}
.prange{ width:190px; padding:0px 5px; float:left; margin:12px 0px;    }
.shoecolorOver{border:1px solid #333 !important;padding:6px 6px !important; }
.selectedcolor{border:1px solid #333 !important;}
.selectedstyle{ background:#000; color:#fff;}
.shoestyleOver{background:#000 !important; color:#fff !important;}
.dynpg td.pages a.disabled, .dynpg td.pages a.disabled:visited{ font-size:14px;}
.removeOptions{ font-size:10px; display:inline; float:right; cursor:pointer;}
.gp25{height:15px; }



.social-icons ul li , .gallery-thumbnail li {
	  float:left;
	  }
	  .gallery-thumbnail li {
	  height: 80px;
	  }
	  .social-icons{
padding-top: 10px;
}
ul.dropdown li.hover, ul.dropdown li:hover  a{
color: #fff;
}