.header_top .currency-list1{
	width: 35px !important;
}
#curencysimbole{
font-size: 9px;
position: relative;
}

.header-button.currency-list1 > a
 {
color: white;
	line-height:31px;
	text-transform:capitalize;
	text-align:center;
	width:100%;
}
.header-button.currency-list1 > a:after{
	 display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-indent: 0 !important;
}
.header_top .currency-list1 {
float: left;
padding-bottom:14px;
}
.header_top .currency-list1 > a:after {    content: none;}

.header .links li {
    color: #fff;
}
.tophead_right .links li.last {
    border: 0!important;
}
.header .links li.first-top {
    padding-right: 6px;
}
.header .links li.add-li span {
    position: relative;
 line-height:32px;
font-size:9px;
}
.custom-servis-ul .tab-title {
    display: none!important;
}
.custom-servis-ul>li{
	display:none;
}
.block-amseorichdata {
    display: none;
}

/* David style */

.cart-indent .cart-top {
    display: none;
}
.cart-indent .bag {
    padding-left: 1em;
    font-weight: bold;
    text-transform: uppercase;
font-family:momo;
}
.template_dropdown_content_text a {
    line-height: 20px !important;
}
.block-cart-header .block-content.tw-items .jcarousel-skin-tango {
    height: 240px;
}
.block-cart-header .cart-content .actions {
    position: relative;
    z-index: 9999;
}
.no-slider .cart-indent .jcarousel-clip-vertical {
    height: 240px;
}
.block-cart-header .block-content.signer-item .jcarousel-skin-tango {
    height: 120px;
}
.block-content.signer-item .cart-indent .jcarousel-clip-vertical {
    height: 170px;
}
.block-cart-header .cart-content .cart-content-header {
    padding-bottom: 0;
    padding-right: 10px;
    position: relative;
    z-index: 999;
}
.block-layered-nav dd {
    max-height: 250px;
    overflow-y: hidden !important;
}
.toolbar>div {
    display: inline!important;
}

div.mCS-minimal.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background: none repeat scroll 0 0 #000000 !important;
}
.mCSB_scrollTools .mCSB_draggerRail {
    background: none repeat scroll 0 0 #cccccc !important;
}
.block-layered-nav dd.PRICE {
    max-height: 100%;
}
.block-layered-nav dd.PRICE .mCSB_scrollTools {
    display: none !important;
}

/* end David */