.nav-container {    float: left;
    margin: 0px 0 0px 20px;
    width: 22%;
    z-index: 4;}
.blog-container {float: left;
    font-size: 16px;
    margin: 15px 30px 0 0px;
    text-transform: uppercase;
    width: 6%;
    z-index: 4;}
/*	.blog-container a {color:#fff;}
*/	.blog-container a:hover {color:#fff;}

.sf-menu { }
.sf-menu li {
  float: left;
  text-align: left;
  position: relative;
  background: url(../images/nav-line.gif) right top repeat-y;
  z-index: 99;
  font-family:'vf_sansdemi_bold', Arial, Helvetica, sans-serif;
}
.sf-menu li.parent {z-index: 999;}
.sf-menu > li > a {
  display: block;
  color: #888888;
  text-decoration: none;
  position: relative;
  padding: 0;
  text-transform: capitalize;
  margin: 0 18px;
}
.sf-menu > li.first > a{ margin-left: 0;}
.sf-menu > li.lasts{ background: none; border-right: none;}
.sf-menu > li > a > span {
  display: block;
  font-size: 20px;
  line-height: 27px;
  text-transform: uppercase;
  cursor: pointer;
  white-space: nowrap;
  font-style: normal;
  padding: 0;
  font-weight: bold;
}
.sf-menu li ul a span {  white-space: normal;}
.sf-menu > li.parent > a:before { content: "\f103"; position: absolute; bottom: -13px; width: 100%; text-align: center; display: none;}

.sf-menu > li.sfHover > a,
.sf-menu> li > a:hover,
.sf-menu > li.active > a {color: #fff;}

.sf-menu li a:hover {  text-decoration: none;}

.sf-menu ul {
  position: absolute;
  top: -999em;
  z-index: 99;
  width: 192px;
  display: none;
  background: #fff;
  box-shadow:0 4px 8px rgba(0,0,0,0.12);
  -moz-box-shadow:0 4px 8px rgba(0,0,0,0.12);
  -webkit-box-shadow:0 4px 8px rgba(0,0,0,0.12);
}
.sf-menu li li {  background: url(../images/nav-line2.gif) bottom left repeat-x;  border-bottom-width: 0;}
.sf-menu li li.parent > a:before { content: "\f101"; float: right; }
.sf-menu li li.last {  border-bottom-width: 1px;}
.sf-menu li li {  position: relative; float: none;}
.sf-menu li li a {
  display:block;
  background: none;
  font-size: 14px;
  line-height: 15px;
  color: #777777;
  padding:6px 15px;
}
.sf-menu li li > a:hover,
.sf-menu li li.sfHover > a,
.sf-menu li li.active > a {  color: #000;}

.sf-menu ul ul {
  position: absolute;
  top: -999em;
  z-index: 99;
  width: 192px;
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
  left: 0px;
  top: 45px;
  /* match top ul list item height */
}

ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
  top: -999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
  left: 193px;
  /* match ul width */
  top: 0;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
  top: -999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
  left: 193px;
  /* match ul width */
  top: 0;
}

@media only screen and (min-width: 992px) and (max-width: 1199px){
  .sf-menu > li > a > span{ font-size: 14px;}
}

@media only screen and (min-width: 768px) and (max-width: 991px){

}


@media only screen and (min-width: 992px) {
    #menu-icon,
    .sf-menu-phone,
    .sf-menu-block {  display: none !important;}

}
@media only screen and (max-width: 991px) {
  .sf-menu,
  .sf-menu-phone {display: none;}
  /* menu icon */
 .sf-menu-block {display: block;}
  #menu-icon {
    display: block;
    font-size: 17px;
    line-height: 21px;
    cursor: pointer;
    text-transform: uppercase;
    font-style: normal;
    padding: 0px;
    height: 30px;
    line-height: 30px;
    color: #888888;

  }
  #menu-icon:before {content: "\f055"; font-size: 25px; line-height: 30px; float: left; padding-right: 5px; }
  #menu-icon.active:before { content: "\f056"; }

  .sf-menu-phone {
    background: #fff;
    border: 1px solid #ccc;
    border-top: 0;
    position: absolute;
    z-index: 2;
    width: 100%;
    top: 43px;
    left: 0;
    text-align: left;
    moz-box-sizing:border-box;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
  }
  .sf-menu-phone li {  position: relative;   }
  .sf-menu-phone > li { background: url(../images/nav-line2.gif) bottom left repeat-x; ;padding: 8px 20px; font-size: 14px; }
  .sf-menu-phone > li.last {border-bottom: 0;}
  .sf-menu-phone li a { display: block;  color: #838383;  }
  .sf-menu-phone li a:hover { color: #000; }
  .sf-menu-phone li li {font-size: 13px; padding: 4px 8px; }
  .sf-menu-phone li li.last {padding-bottom: 10px;}
  .sf-menu-phone li li:first-child {padding-top: 10px;}
  .sf-menu-phone li li:first-child strong {top:10px;}
  .sf-menu-phone li strong {
    position: absolute;
    display: block;
    top: 4px;
    right: 5px;
    width: 24px;
    font-size: 16px; 
    line-height: 16px;
    text-align: center;
  }
  .sf-menu-phone > li > strong {top: 9px; right: 18px; font-size: 20px; line-height: 20px;}
  .sf-menu-phone li strong:hover { cursor: pointer; }
  .sf-menu-phone li strong:before {content: "\f067"; font-size: 14px; }
  .sf-menu-phone li strong.opened:before { content: "\f068"; }

  /* dropdown */
  .sf-menu-phone ul {  width: auto; margin:10px 0 0 0 ;  display: none;  }
  .sf-menu-phone > li.active > a > span {color: inherit;}
  
  .sf-menu-phone > li.active > a,
  .sf-menu-phone > li > a:hover {  }

  .sf-menu-phone li li.active > a,
  .sf-menu-phone li li a:hover {}
}
@media only screen and (max-width: 767px) { 
   .sf-menu-block {margin: 0 10px;}
   .nav-container {
    margin-top: 15px;
    width: 100%;
    z-index: 4;
    float: left;
    background: #ddd;
}
}
