.tcheckout-progress,
.tcheckout-step{
	padding:1px;
	margin-bottom:18px;
}
.tcheckout-progress ol,
.tcheckout-step-wrap{
	padding:25px;
	zoom:1;
}
.tcheckout-progress ol:after,
.tcheckout-step-wrap:after{
	content:'';
	display:block;
	clear:both;
}
.tcheckout-progress ol{
height: 32px;
line-height: 30px;
	padding:0 20%;
}

.tcheckout-progress li{
	float:left;
	width:33.33%;
	text-align:center;
	font-size:11px;
font-family:arial, futurastd-light;
	text-transform:uppercase;
}
.two-steps li{
	width:45%;
}
.tcheckout-progress li.arrow{
	width:5%;
	background:url('../../images/ecommerceteam/tcheckout/progress-arrow.gif') 50% 50% no-repeat;
}
.two-steps li.arrow{
	width:10%;
}
.tcheckout-progress li.active{
text-decoration:underline;
}
.tcheckout-step h2{
	font-size:11px;
	padding:3px 1px;
margin-bottom:15px;
border-bottom:1px solid #999;
text-transform:uppercase;
font-family:arial;
color:#000;
}
.tcheckout-step .form-list{
	margin-bottom:17px;
padding:1px;
}
.tcheckout-step-address .buttons-set{
	margin:0;
	padding:0;
	border:0;
}

.tcheckout-step .order-review{
	margin-bottom:20px;
}
.tcheckout-step .form-list .field{
	width:275px;
}
.tcheckout-step .form-list .input-box{
	width:270px;
}
.tcheckout-step .form-list input.input-text{
	width:255px;
	
}
.tcheckout-step .input-text{
	padding:5px;
}
.tcheckout-step select{
	padding:6px;
border-color:#777;
font-size:11px;
height:34px;
}
.tcheckout-step .delivery-date-wrap img.handler{
	left: -20px;
	top: 3px;
}
.tcheckout-customer-info{
	margin-bottom:15px;
	overflow:hidden;
	zoom:1;
}
.tcheckout-customer-info li{
	float:left;
	width:31%;
	margin-right:2%;
}
.tcheckout-customer-info h4{
	display:none;
}